.empty-ad {
  background-color: gray;
}

.slot {
  width: 320px;
  height: 50px;
  overflow: hidden;
  margin: 10px auto;

  @media screen and (min-width: 730px) {
    width: 400px;
    height: 90px;
  }

  @media screen and (min-width: 930px){
    width: 600px;
  }

  @media screen and (min-width: 830px) {
    width: 500px;
  }

  @media screen and (min-width: 1060px) {
    width: 700px;
  }
}
