@media $media-width-tablet {
  article .content .gallery {
    > header {
      h2 {
        font-size: 25px;
        line-height: 30px;

        & + a {
          padding-right: 0;
          line-height: 30px;
        }
      }
    }
  }

  article .content .gallery.panels {
    > div {
      max-height: 202px;
    }
  }
}
