.embed-player(ng-class="{share: player.showShare, donate: player.showDonate, subscribe: player.showSubscribe}")
  header
    h1 {{story.currentSound().story.title}}
  section
    button.toggle(ng-click="player.toggle()" ng-class="{paused: player.sound.paused}")
      .pause
      .play
    .track(prx-player-scrubber="player.scrubToPercent(percentage)", ng-class="{active: player.active(), flip: player.progress() > 75}")
      canvas.waveform
        
      .progress(ng-style="{width: player.progress() + '%'}")
        canvas.waveform
  footer
    button(ng-click="player.donate()") Donate
    button(ng-click="player.share()") Share
    //- button(ng-click="player.subscribe()") Subscribe
  .modals
    #idle
      div
        h2 Are you still listening?
        button(ng-click="player.hearMore()") Yes, I want to hear more!
        button Nope, I'm done for now
    #share
      div
        h2 Love this story? Tell someone!
        .sharables
          a.facebook(href="https://www.facebook.com/dialog/share?app_id=119755508101509&display=page&href={{story.shareStoryURL}}&redirect_uri={{story.shareStoryURL}}") 
          a.twitter(href="http://twitter.com/share?text={{story.shareTitle|encodeUri}}&&url={{story.shareStoryURL|encodeUri}}") 
          a.email(href="mailto:?subject={{story.shareTitle|encodeUri}}&body={{story.shareStoryURL}}") 
        button.dismiss(ng-click="player.share()") Close
    
    #subscribe
      div
        h2 Enter your email address for more stories
        form(novalidate)
          .error Please use a valid email address
          input(type='email' ng-model='player.subscriber.email' placeholder='What is your email address?')
          input(type='submit' value='Start listening' ng-click='player.doSubscribe()')
        button.skip(ng-click="player.subscribe()") Skip

//- TODO add tracking to share links
//-source embedding site
//-medium share
//- campaign miniprx
