.persistent-player(ng-class="{show: !!player.global.nowPlaying}")
  .scrubber-track
    .scrubber(ng-style="{width: player.global.progress() }")
  prx-player-button(sound="player.global.nowPlaying")
  div(ng-if="player.global.nowPlaying")
    a(ui-sref="player.global.nowPlaying.story")
      prx-img.thumb(src="player.global.nowPlaying.story.imageUrl")
  .timecode {{player.global.nowPlaying.position | timeCode }}
  .about(ng-if="player.global.nowPlaying")
    a.title(ui-sref="player.global.nowPlaying.story", ui-sref-active="current") {{player.global.nowPlaying.story.title}}
    a.byline(ui-sref="player.global.nowPlaying.producer", ui-sref-active="current") by {{player.global.nowPlaying.producer.name}}
  ul.actions(ng-flag="lovesharebuy")
    li.share
    li.love
