.persistent-player(ng-class="{show: !!player.global.nowPlaying}")
  .scrubber-track
    .scrubber(ng-style="{width: player.global.progress() }")
  .player-main(swipable-as="playing", swipable-next="playing.next()",
    swipable-previous="playing.previous()", swipable="player.global.nowPlaying",
    on-swipe-next="player.global.play(playing)")
    prx-player-button(sound="playing")
    a(ui-sref="playing.story")
      prx-img.thumb(src="playing.story.imageUrl")
    .timecode {{playing.position | timeCode }}
    .about
      a.title(ui-sref="playing.story", ui-sref-active="current") {{playing.story.title}}
      a.byline(ui-sref="playing.producer", ui-sref-active="current") by {{playing.producer.name}}
    ul.actions(ng-flag="lovesharebuy")
      li.share
      li.love
