@import "player/player.tablet.styl";

@import "player/player.persistent.styl";

.player {
  display: flex;

  button {
    @extend $player-button;
    flex: 0 auto;
  }

  .track {
    display: none;
    position: relative;
  }
}
