.player
  prx-player-button
  .track(prx-player-scrubber="player.scrubToPercent(percentage)", ng-class="{active: player.active(), flip: player.progress() > 75}")
    canvas.waveform
    .scrubber(ng-style="{width: player.progress() + '%'}")
      span(ng-bind="player.sound.position | timeCode")
      canvas.waveform
    .inverse
      span(ng-bind="player.sound.position | timeCode")

    ul(ng-if="player.sound.length > 1")
      li(ng-repeat="segment in player.sound.segments track by $index", ng-style='{width: segment / player.duration() / 10 + "%"}')
        a(ng-click="player.goToSegment($index, $event)")
