@media $media-width-tablet {
  ._chase > header {
    height: $tall-action-bar-height;

    h1 {
      margin-left: 0;
      width: 113px;

      a {
        line-height: $tall-action-bar-height;
        background-size: auto 33px;
      }
    }

    a.drawer {
      position: absolute;
      left: -10px;
      top: 12px;
    }

    nav {
      width: 50%;

      .nav-holder {
        height: $tall-action-bar-height;
        top: ( $tall-action-bar-height / -2 ) + 7px;

        > *:not(.dropdown) {
          line-height: $tall-action-bar-height;
        }
      }
    }
  }
}
