@import "header/header.tablet.styl"

@import "header/header.bar.styl"

._chase > header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: $action-bar-height;
  z-index: 200;
  border-bottom: 1px solid $header-border-color;
  background: $content-fill-color;

  & > div:last-child {
    @extends $live-area;
  }

  a.drawer {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    margin: 0 14px;
    line-height: $action-bar-height;
    image: '/assets/images/ic_header_menu.png' auto 15px;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
  }

  h1 {
    width: 62px;
    margin: 0 auto;

    a {
      line-height: $action-bar-height;
      display: block;
      background-image: url('/assets/images/ic_header_logo.svg');
      background-size: auto 22px;
      background-position: center center;
      background-repeat: no-repeat;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  nav {
    display: block;
    position: absolute;
    top: 0;
    right: 30px;
    width: calc( 50% - 80px );
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    a {
      color: $nav-link-color;
      display: block;
      padding: 0 3px;
    }

    .nav-holder {
      height: $action-bar-height;

      > *:not(.dropdown) {
        line-height: $action-bar-height;
      }

      display: inline-block;
      position: relative;
      top: ( $action-bar-height / -2 ) + 7px;

      &:hover, &.expanded {
        background-color: $orange;
        border: 0 solid $nav-separator-color;
        border-width: 0 1px;
        margin: 0 -1px;

        a {
          color: $white;
        }
      }

      &.expanded {
        background-color: $offwhite;

        a {
          color: $nav-link-color;
        }

        .dropdown {
          display: block;
        }
      }

      > * {
        cursor: pointer;
        padding: 0 25px;
      }

      .dropdown {
        display: none;
      }
    }

    xi-nav-item {
      flex: 0 0 auto;
      font-size: 14px;
      display: inline-block;
      height: 14px;
      overflow: show;
      border-left: 1px solid $nav-separator-color;
      line-height: 14px;

      &:first-of-type {
        border-left: none;
      }
    }
  }

  nav.alternate {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    visibility: hidden;
  }

  .dropdown {
    width: 300px;
    background-color: $white;
    position: absolute;
    top: 100%;
    right: -1px;
    border: 1px solid $nav-separator-color;
    border-top-width: 0;
  }
}
