._chase > footer > ul {
  display: flex;
  justify-content: center;

  li {
  }

  a {
    display: block;
    text-align: center;
    font-family: 'fontello';
    font-size: 18px; // TODO
    width: 3rem;
    height: @width;
    line-height: @height;

    &[href*="newsletters"] { color: $middle-grey; } // TODO color
    &[href*="twitter"] { color: $twitter-blue; }
    &[href*="facebook"] { color: $facebook-blue; }
  }
}
