._chase > footer {
  .beta-notice {
    font-size: 10px; // TODO
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;

    p {
      font-size: 1em;
      padding-right: 15px;
      padding-left: 15px;

      a {
        font-size: inherit;
        display: inline!important;
      }
    }

    > a {
      display: block;
      line-height: 2 * $measure;
      font-size: 1.125em;
    }
  }
}
