@media $media-width-tablet {
  ._chase > footer {
    & > div {
      section {
        &:first-child {
          flex-basis: 290px;
          border: none;
        }

        h3,
        a {
          font-size: 14px;
        }
      }
    }
  }
}
