@import "footer/footer.tablet.styl";

@import "footer/footer.directory.styl";
@import "footer/footer.directory.tablet.styl";

@import "footer/footer.beta.styl";
@import "footer/footer.beta.tablet.styl";

@import "footer/footer.social.styl";
@import "footer/footer.social.tablet.styl";

// TODO This should be scoped better
._chase > footer {
  background: $content-fill-color;
  font-size: 0.857rem; // TODO
  padding-bottom: 67px;
}
