live-area()
  max-width: 1060px;

  margin-right: auto;
  margin-left: auto;

  padding-right: 15px;
  padding-left: 15px;

  @media $media-width-tablet {
    padding-right: 30px;
    padding-left: 30px;
  }

$live-area {
  live-area();
}
