flex-basis(basis)
  flex-basis: basis;
  -ms-flex-preferred-size: basis;

flex(growth, shrink=null, initial=null)
  if initial == 0px || initial == 0%
    initial = 0
  if initial == 0
    arguments[2] = null
  if box in flex-version
    shrink = 1
    if none == growth
      // Well known values
      shrink = 0 if none == growth
      growth = 0
    else if is-width(growth) == true
      // Basis is defined as the first parameter
      growth = arguments[1] || 0
      shrink = arguments[2] if 3 <= length(arguments)
    else if arguments[1] && is-width(arguments[1]) == false
      // Growth is first and shrink is second
      shrink = arguments[1]

    // Since we can't make the distinction between growing and shrinking in the box model, take
    // the one that provides the most flexibility.
    vendor('box-flex', max(growth, shrink), ignore: ms)



  // new
  if flex in flex-version
    vendor('flex', arguments, only: webkit ms official)
  if initial != null
    flex-basis: initial;
