@media $media-width-tablet {
  article.series > .content {
    padding-top: 30px;

    &:last-child {
      padding-bottom: @padding-top;
    }
  }

  article.series .main {
    .details {
      h3,
      p {
        padding-left: 20px;
        padding-right: 20px;

        &:last-child {
          padding-bottom: 20px;
        }
      }
    }
  }
}
