article.series
  .hero
    section
      .media
        prx-img.coverart(src="::series.current.imageUrl")
        .media-content
          h1 {{series.current.title}}
          ul.metadata
            li
              strong Produced by:
              address.author
                a(ui-sref="::series.account") {{series.account.name}}
          ul.metadata
            li
              strong Episodes:
              | {{series.current.storyCount}}
          prx-donate(account="::series.account")
          .description
            div(ng-bind-html="series.current.shortDescription")
            a.unbreakable(ui-sref=".details" ng-if="series.current.description") (View Full Description)
  .content
    .main
      section.gallery.panels.stories
        header
          h2 Stories
          a(ui-sref=".allStories", ng-show="::series.stories.length > 3") View All &raquo;
        div
          section.story.blank(ng-if="::series.isEditable")
            a(ui-sref="story.edit.create({ series: series.current.link.url('self') })") ➕
          prx-story(ng-repeat="story in ::series.stories" story="::story")
  .content
    .main
      section.details
        h3 About
        p(ng-bind-html="series.current.description")

