article.series
  #hero
    .billboard
    .container
      .media
        .content
          prx-img(src="series.current.imageUrl", style="height:150px;", class="coverart")
          h1 {{series.current.title}}
          dl.metadata
            dt Produced by
            dd
              address.author
                a(ui-sref="series.account") {{series.account.name}}
          dl.metadata
            dt Episodes
            dd {{series.current.storyCount}}
          p {{series.current.shortDescription}}
  #content
    #shelf
      h2 Stories
      #stories
        prx-story(ng-repeat="story in series.stories | limitTo: 3" story="story")

    #main
      section
        h2 About
        p {{series.current.description}}
