@import "series/_series.tablet.styl"

@import "series/_series.hero.styl"
@import "series/_series.hero.tablet.styl"

article.series .main {
  background: $content-fill-color;

  .gallery {
    background: $page-fill-color;
    padding-bottom: 30px;

    header {
      padding-top: 30px;
    }
  }

  .details {
    h3 {
      font-size: 18px;
      padding: 25px 0 10px;
      color: $heading-color;
    }
  }
}
