article.tour.producers
  hgroup
    nav
      a(ui-sref="tour.producers", ui-sref-active="active") Looking to be a producer?
      a(ui-sref="tour.purchasers", ui-sref-active="active") Looking to be a purchaser?

    h1 Publish your stories, earn royalties
    a.signup(ui-sref="tour.producers") Open a PRX Account

  #content
    #main
      section.process
        h2 What is an audio story?

        .step.idea
          h3 Idea
          p Lorem ipsizzle pizzle daahng  dawg bling bling, funky fresh adipiscing mah nizzle. Nullizzle brizzle velizzle.
        .step.narrative
          h3 Narrative
          p Lorem ipsizzle pizzle daahng  dawg bling bling, funky fresh adipiscing mah nizzle. Nullizzle brizzle velizzle, the bizzle.
        .step.audio
          h3 Audio
          p Lorem ipsizzle pizzle daahng  dawg bling bling, funky fresh adipiscing mah nizzle. Nullizzle brizzle velizzle, the bizzle.
        .step.editing
          h3 Editing
          p Lorem ipsizzle pizzle daahng  dawg bling bling, funky fresh adipiscing mah nizzle. Nullizzle brizzle velizzle, the bizzle.

      section.stories
        h2 What kind of stories are bought on PRX?

        .story
        .story
        .story
        .story

      section.benefits
        h2 Why publish your audio stories on PRX?

        .benefit.royalties
          h3 Earn your royalties, get paid
          ul
            li You post your story, public radio stations and others buy it, we pay you
            li You post your story, public radio stations and others buy it, we pay you
            li You post your story, public radio stations and others buy it, we pay you
        .benefit.hear
          h3 Hear your story heard on Public Radio stations
          ul
            li You post your story, public radio stations and others buy it, we pay you
            li You post your story, public radio stations and others buy it, we pay you
            li You post your story, public radio stations and others buy it, we pay you
        .benefit.community
          h3 Be a part of our PRX Producer community
          ul
            li You post your story, public radio stations and others buy it, we pay you
            li You post your story, public radio stations and others buy it, we pay you
            li You post your story, public radio stations and others buy it, we pay you

      section.growth
        h2 Grow your audience and personal brand with PRX

        ul
          li.audrey
          li.audrey
          li.audrey
          li.audrey
          li.audrey
          li.audrey
          li.audrey
          li.audrey
          li.audrey
          li.audrey
          li.audrey
          li.audrey
          li.audrey
          li.audrey

      section.questions
        h2 Questions

        .question
          h3 How much does it cost?
          p Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        .question
          h3 How much does it cost?
          p Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        .question
          h3 How much does it cost?
          p Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. flex-direction: row | row-reverse | column
        .question
          h3 How much does it cost?
          p Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
