ng-switch(on="auth.currentUser.loggedIn")
  a(ng-switch-when="true")
    span.name {{auth.currentUser.login}}
    prx-img(src="auth.currentUser.imageUrl")
  a(ng-switch-when="false") Sign In
  .loading-spinner(ng-switch-default) 
