ng-switch(on="currentUser.loggedIn")
  a(ng-switch-when="true")
    span.name {{currentUser.login}}
    prx-img(src="currentUser.imageUrl")
  a(ng-switch-when="false") Sign In
  .loading-spinner(ng-switch-default)
