ng-switch(on="auth.currentUser.loggedIn")
  div(ng-switch-when="true")
    b
      a.account(ui-sref="auth.currentUser.account") {{auth.currentUser.login}}
    h4 My Series
    prx-auth-series-list
  iframe(ng-switch-default, prx-auth-login-frame)
