article.about-us {
  section {
    h2 {
      border-bottom: 1px solid black;
      margin-bottom: 0;
    }

    h4 {
      margin-bottom: 20px;
      padding: 0;
      font-weight: lighter;
      font-size: 1.1em;
    }

    div.vision {
      p {
        padding: 0px 0px 15px;
        font-weight: lighter;
      }
    }

    .pic {
      img {
        border: 1px solid lightest-grey;
        width: 100%;
      }

      p {
        text-align: right;
        font-weight: lighter;
      }
    }

    .strategy {
      p {
        font-weight: lighter;
      }

      p, h4 {
        padding: 5px 0px 5px 0px;
        margin: 0;
      }

      h4 {
        font-weight: normal;
      }

      @media multi-column {
        ul {
          display: flex;

          li {
            padding-right: 13px;
          }
        }
      }
    }
  }

  .bottom-bar {
    background: rgba(blue, 0.1);

    @media multi-column {
      margin: 0px 20px 20px 20px;

      ul {
        display: flex;
        align-items: center;
      }
    }

    li {
      padding: 20px;
    }
  }
}
