article.funding
  #content
    #main
      .header
        h1 With Support From
      .funders
        ul
          li
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/0121/cpb.gif")
            a(href="http://www.cpb.org/")
              | The Corporation for Public Broadcasting
          li
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/0125/nea.gif")
            a(href="http://www.nea.gov/")
              | The National Endowment for the Arts
          li
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/0129/ff.gif")
            a(href="http://www.fordfound.org/")
              | The Ford Foundation
          li
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/0133/ntia.gif")
            a(href="http://www.ntia.doc.gov/")
              | The National Telecommunications and Information Administration
          li
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/0137/macarthur.gif")
            a(href="http://www.macfound.org/")
              | The John D. and Catherine T. MacArthur Foundation
          li
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/0141/soros.gif")
            a(href="http://www.soros.org/initiatives/youth/")
              | The Open Society Institute
          li
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/0145/surdnasmall.jpg")
            a(href="http://www.surdna.org/")
              | The Surdna Foundation
      .cta
        h2 Help us make public radio more public.
        h3 Please consider a <a href="http://www.prx.org/donate">tax-deductible donation to PRX.</a>
