article.press
  .content
    #main
      section
        h1 Press Room & Resources
        h2 PRX in the News: Latest
        .press-item
          .image
            img(src="http://media.prx.org/featureTemp/Current_Logo.png")
          .item
            a(href="http://www.current.org/2014/06/this-american-life-departure-highlights-competitive-challenge-for-pubradio-satellite-system/")
              | This American Life departure highlights competitive challenge for pubradio satellite system
            p Current: June 10, 2014
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/6912/xconomy.jpg")
          .item
            a(href="http://www.xconomy.com/boston/2014/06/05/with-this-american-life-a-big-bet-on-digital-pays-off-for-prx/")
              | With “This American Life,” a Big Bet on Digital Pays Off for PRX
            p Xconomy: June 5, 2014
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/6908/radiosurvivor_logo.png")
          .item
            a(href="http://www.radiosurvivor.com/2014/05/29/prx-wins-american-life-good-news-indie-producers/")
              | PRX Wins This American Life, Good News for All Indie Producers
            p Radio Survivor: May 29, 2014
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/6904/imgres-1.jpg")
          .item
            a(href="http://articles.chicagotribune.com/2014-05-28/business/chi-chicago-public-media-this-american-life-20140528_1_this-american-life-ira-glass-stations")
              | Chicago Public Media taking over distribution of 'This American Life'
            p Chicago Tribune: May 28, 2014
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/5687/nytlogo152x23.gif")
          .item
            a(href="http://www.nytimes.com/2014/05/29/business/media/spurning-suitors-this-american-life-opts-for-self-distribution.html")
              | Spurning Suitors, ‘This American Life’ Opts for Self-Distribution
            p New York Times: May 28, 2014
        .press-item
          .image
            img(src="http://media.prx.org/featureTemp/Current_Logo.png")
          .item
            a(href="http://www.current.org/2014/05/chicagos-wfmt-to-leave-public-radio-satellite-system-for-prx/")
              | Chicago’s WFMT Radio Network to leave Public Radio Satellite System for PRX
            p Current: May 8, 2014
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/5967/usa_today_01_logo_detail.gif")
          .item
            a(href="http://www.usatoday.com/story/popcandy/2014/02/05/radiotopia-podcasts/5224381/")
              | Radiotopia: Plug in to this new podcast network
            p USA Today: Feb. 5, 2014
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/6147/crj.jpeg")
          .item
            a(href="http://www.cjr.org/the_kicker/a_new_podcast_network_will_foc.php")
              | A new podcast network will focus on story-driven radio shows
            p Columbia Journalism Review: Feb. 5, 2014
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/5991/niemanlab_1334151410_600.jpeg")
          .item
            a(href="http://www.niemanlab.org/2014/02/welcome-to-radiotopia-a-podcast-network-with-the-aesthetics-of-story-driven-public-radio/")
              | Welcome to Radiotopia, a podcast network with the aesthetics of story-driven public radio
            p Nieman Journalism Lab: Feb. 4, 2014
        .press-item
          .image
            img(src="http://media.prx.org/featureTemp/Current_Logo.png")
          .item
            a(href="http://www.current.org/2014/02/roman-mars-and-prx-launch-radiotopia-a-new-network-of-independent-pubradio-podcasts/")
              | Roman Mars and PRX launch Radiotopia, a new network of independent pubradio podcasts
            p Current: Feb. 4, 2014
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/6711/Screen_Shot_2013-11-21_at_5.05.41_PM.png")
          .item
            a(href="http://news.nationalgeographic.com/news/2013/11/131122-jfk-assassination-tapes-released-kennedy-radio-history/")
              | Unpublished JFK Tapes Released 50 Years After Assassination
            p National Geographic: November 21, 2013
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/6687/abc-logo.png")
          .item
            a(href="http://abcnews.go.com/blogs/technology/2013/10/the-moth-app-brings-storytelling-to-mobile/")
              | The Moth App Brings Storytelling to Mobile
            p ABC News: October 20, 2013
        .press-item
          .image
            img(src="http://media.prx.org/featureTemp/Current_Logo.png")
          .item
            a(href="http://www.current.org/2013/09/prx-teams-with-center-for-investigative-journalism-on-reveal-series/")
              | PRX teams with Center for Investigative Reporting on Reveal series
            p Current: Sept. 19, 2013
        .press-item
          .image
            img(src="http://media.prx.org/featureTemp/Current_Logo.png")
          .item
            a(href="http://www.current.org/2013/07/frontline-teams-with-prx-to-develop-ipad-app/")
              | Frontline teams with PRX to develop iPad app
            p Current: July 24, 2013
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/5991/niemanlab_1334151410_600.jpeg")
          .item
            a(href="http://www.niemanlab.org/2013/07/cant-stop-wont-stop-prx-introduces-an-app-for-unending-audio-storytelling/")
              | Can’t stop, won’t stop: PRX introduces an app for unending audio storytelling
            p Nieman Journalism Lab: July 9, 2013
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/5967/usa_today_01_logo_detail.gif")
          .item
            a(href="http://www.usatoday.com/story/popcandy/2013/07/09/prx-remix-app/2502535/")
              | Cool app: PRX Remix
            p USA Today: July 9, 2013
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/6327/Bostinno.jpg")
          .item
            a(href="http://bostinno.com/all-series/announcing-the-winners-of-50-on-fire-slideshow-storify/#ss__313060_1_44__ss")
              | Announcing the Winners of 50 on Fire
            p BostInno: March 27, 2013
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/6143/imgres.jpeg")
          .item
            a(href="http://techcrunch.com/2013/02/11/public-radio-exchange-player-relaunch-withnpr-downloads/")
              | PRX Relaunches Its iPhone App, Now Lets You Download All Your Favorite Public Radio Programs
            p TechCrunch: Feb. 11, 2013
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/6147/crj.jpeg")
          .item
            a(href="http://www.cjr.org/the_kicker/public_radio_player_relaunches.php")
              | Public Radio Player relaunches
            p Columbia Journalism Review: Feb. 11, 2013
        .press-item
          .image
            img(src="http://media.prx.org/featureTemp/Current_Logo.png")
          .item
            a(href="http://www.current.org/2013/01/prx-set-to-launch-overhaul-of-public-radio-player-iphone-app/")
              | PRX set to launch overhaul of Public Radio Player iPhone app
            p Current: Jan. 10, 2013
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/5687/nytlogo152x23.gif")
          .item
            a(href="http://www.nytimes.com/2012/12/03/business/media/partnership-offers-support-for-public-media-ventures.html")
              | Partnership Offers Support for Media Entrepreneurs
            p New York Times: Dec. 2, 2012
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/5967/usa_today_01_logo_detail.gif")
          .item
            a(href="http://www.usatoday.com/story/popcandy/2012/11/28/early-buzz/1731443/")
              | Super-sized Early Buzz
            p USA Today: Nov. 28, 2012
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/5959/Home.png")
          .item
            a(href="http://www.californiahomedesign.com/blog/2012/11/27/radio-host-roman-mars-uncovers-hidden-side-design-world")
              | Radio Host Roman Mars Uncovers Hidden Side of Design World
            p California Home & Design: Nov. 27, 2012
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/5963/ars-logo.png")
          .item
            a(href="http://arstechnica.com/apple/2012/11/ios-6-audio-framework-bug-may-be-to-blame-for-data-overages/")
              | iOS 6 audio framework bug may be to blame for data overages
            p Ars Technica: Nov. 15, 2012
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/5991/niemanlab_1334151410_600.jpeg")
          .item
            a(href="http://www.niemanlab.org/2012/08/latitude-news-and-prx-partner-on-an-international-news-podcast/")
              | Latitude News and PRX partner on an international news podcast
            p Nieman Journalism Lab: Aug. 27, 2012
        .press-item
          .image
            img(src="http://media.prx.org/featureTemp/Current_Logo.png")
          .item
            a(href="http://www.current.org/2012/08/podcast-with-limited-radio-airplay-sets-kickstarter-record/")
              | Podcast with limited radio airplay sets Kickstarter record
            p Current: Aug. 20, 2012
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/5683/forbes.jpg")
          .item
            a(href="http://www.forbes.com/sites/ashoka/2012/08/10/how-prx-is-revolutionizing-public-radio-by-making-it-really-public/")
              | How PRX is Revolutionizing Public Radio by Making it (Really) Public
            p Forbes: Aug. 10, 2012
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/5691/IFC_logo_no_tag.jpg")
          .item
            a(href="http://www.ifc.com/fix/2012/07/marc-maron-podcast-public-radio")
              | Marc Maron’s podcast headed to public radio
            p IFC: July 19, 2012
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/5695/laughspin_masthead_4-3-2012.png")
          .item
            a(href="http://www.laughspin.com/2012/07/19/marc-maron-will-return-to-public-radio-for-a-second-season-of-wtf/")
              | Marc Maron will return to public radio for a second season of WTF
            p LaughSpin: July 19, 2012
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/5679/gigaom.jpg")
          .item
            a(href="http://gigaom.com/2012/07/18/how-kickstarter-could-disrupt-public-radio/")
              | How Kickstarter could disrupt public radio
            p GigaOm: July 18, 2012
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/5683/forbes.jpg")
          .item
            a(href="http://www.forbes.com/sites/jeffbercovici/2012/07/03/blank-on-blank-making-an-audio-banquet-from-journalistic-leftovers/")
              | Blank on Blank: Making an Audio Banquet From Journalistic Leftovers
            p Forbes: July 3, 2012
        .press-item
          .image
            img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/5687/nytlogo152x23.gif")
          .item
            a(href="http://www.nytimes.com/2012/06/19/arts/npr-looks-to-new-shows-like-ask-me-another.html")
              | New Hits Needed
            p New York Times: June 18, 2012
        h2 PRX in the News: #{''}
          a(href="https://blog.prx.org/category/prx-in-the-news/")
            | Archive
        h2 Boilerplate
        p
          | PRX is is an award-winning public media company, harnessing
          | innovative technology to bring compelling content to millions
          | of people.
        h2 PRX Logo
        p
          a(href="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/4625/prx-logo_large.png")
            | Logo PNG
        p
          a(href="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/0968/prx-logo.ai")
            | Illustrator File (.ai)
        p (right click "save as" to download)
