article.team
  .content
    #main
      section.header
        h1 Organization
        p
          | The Public Radio Exchange, a nonprofit based in
          | Cambridge, Mass., was founded as a collaboration
          | of the <a href="http://www.srg.org/">Station Resource
          | Group</a> of Takoma Park, Md. and <a href="http://www.atlantic.org/">
          | Atlantic Public Media</a> of Woods Hole, Mass.
        p
          a(href="//www.prx.org/about-us/what-is-prx")
            | Learn more about PRX.
      section.founders
        h1 Founding Folks
        a(href="//www.prx.org/user/tthomas")
          | Tom Thomas
        p Co-Chief Executive Officer, Station Resource Group
        a(href="//www.prx.org/user/tclifford")
          | Terry Clifford
        p Co-Chief Executive Officer, Station Resource Group
        a(href="//www.prx.org/user/jayapm")
          | Jay Allison
        p Executive Director, Atlantic Public Media
      section
        h1 Founding Stations
        .stations
          a(href="http://www.prx.org/station/kqed") KQED
          a(href="http://www.prx.org/station/kuow") KUOW
          a(href="http://www.prx.org/station/kut") KUT
          a(href="http://www.prx.org/station/wbez") WBEZ
          a(href="http://www.prx.org/station/wgbh") WGBH
          a(href="http://www.prx.org/station/wksu") WKSU
          a(href="http://www.prx.org/station/wnyc") WNYC
          a(href="http://www.prx.org/station/wpsu") WPSU
          a(href="http://www.prx.org/station/wunc") WUNC
          a(href="http://www.prx.org/station/wvpe") WVPE
          a(href="http://www.prx.org/station/wyso") WYSO
      section.team
        h1 PRX Board of Directors
        .person
          img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/6707/janetbalis_1349233430_84-300x225.jpg")
          h4 Janet Balis
          p Chief Revenue Officer at Betaworks
        .person
          img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/0754/TM.jpg")
          h4 Torey Malatia
          p Former President and Chief Executive Officer, Chicago Public Media
        .person
          img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/0762/AshtonPeery.jpg")
          h4 Ashton Peery
          p Former CSO and Corporate Head of Business Development for Lucent Technologies
        .person
          img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/0774/JakeShapiro.jpg")
          h4
            a(href="http://www.prx.org/users/134")
              | Jake Shapiro
          p Executive Director, PRX
        .person
          img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/0766/BruceWarren.jpg")
          h4
            a(href="http://www.prx.org/users/529-bwarren")
              | Bruce Warren
          p Assistant GM for Programming at WXPN in Philadelphia, Pa.
        .person
          img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/0770/SM.jpg")
          h4 Susan McKeever
          p Principal, Law Office of Susan L. McKeever
        .person
          img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/0802/Becton.jpg")
          h4 Henry Becton
          p Former President, WGBH, Boston, Mass. and Vice Chair of the WGBH Board of Trustees
      section.team
        h1 PRX Staff
        .person
          img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/3919/jake_square.jpg")
          h4
            a(href="http://www.prx.org/users/134")
              | Jake Shapiro
          p Chief Executive Officer
        .person
          img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/0173/john.thumbnail_square.jpg")
          h4
            a(href="http://www.prx.org/user/johnprx")
              | John Barth
          p Chief Content Officer
        .person
          img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/0406/kerri.jpg")
          h4
            a(href="http://www.prx.org/user/khoffman")
              | Kerri Hoffman
          p Chief Operations Officer
        .person
          img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/0177/medium-mypicture_square.jpg")
          h4
            a(href="http://www.prx.org/user/akuklewicz")
              | Andrew Kuklewicz
          p Chief Technology Officer
        .person
          img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/0402/Matt.jpg")
          h4
            a(href="http://www.prx.org/user/mattmac")
              | Matt MacDonald
          p Chief Product Officer
        .person
          img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/0398/Rekha.Murthy-PRX.jpg")
          h4
            a(href="http://www.prx.org/user/rmurthy")
              | Rekha Murthy
          p Director of Projects and Partnerships
        .person
          img(src="http://blog.prx.org/wp-content/uploads/userphoto/42.jpg")
          h4
            a(href="http://www.prx.org/users/217113-kathleenunwin")
              | Kathleen Unwin
          p Station Relations Director
        .person
          img(src="http://blog.prx.org/wp-content/uploads/userphoto/18.thumbnail.jpg")
          h4
            a(href="http://www.prx.org/user/GigiDC")
              | Genevieve Sponsler
          p Content Coordinator
        .person
          img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/4548/Audrey_Mardavich_sq.jpg")
          h4
            a(href="http://www.prx.org/users/138712-amardavich")
              | Audrey Mardavich
          p Community Manager
        .person
          img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/user_images/16964/square_quizzical_medium.jpg")
          h4
            a(href="http://www.prx.org/user/debenedictis")
              | Robert DeBenedictis
          p Systems Administrator
        .person
          img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/2907/Chris.jpg")
          h4
            a(href="http://www.prx.org/users/109734-chrisrhoden")
              | Chris Rhoden
          p Principal Engineer
        .person
          img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/user_images/16650/gravatar_medium.jpeg")
          h4
            a(href="http://www.prx.org/users/127641-farski")
              | Chris Kalafarski
          p Senior Developer
        .person
          img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/7056/44.jpg")
          h4
            a(href="http://blog.prx.org/2014/09/hello-eve/")
              | Eve Asher
          p Developer
        .person
          img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/user_images/20910/A1F_5905_medium.jpg")
          h4
            a(href="http://www.prx.org/users/195929-baileythebeagle")
              | Bailey Kalafarski
          p Food Inspector
      section.team
        h1 PRX Remix Staff
        .person
          img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/6655/RomanMars-at-Desk-Aug2012-web.jpg")
          h4
            a(href="http://www.prx.org/users/roman")
              | Roman Mars
          p Host and Program Director
        .person
          img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/6675/erika_thumbnail.png")
          h4
            a(href="http://www.prx.org/users/200454-ejlantz")
              | Erika Lantz
          p Assistant Producer
