article.about-us
  #content
    #main
      section
        h2 About Us
        h4 Making public radio more public
        .vision
          p Public Radio Exchange (PRX) is an award-winning public media company.
          p
            strong Our Vision
            |  is an informed society, connected by shared stories and inspired
            | to improve lives and communities.
          p
            strong Our Mission
            |  is to harness technology to bring significant stories to millions
            | of people.
        .pic
          img(src="http://s3.amazonaws.com/production.mediajoint.prx.org/public/comatose_files/4881/PRX_Nepal.jpg")
          p PRX member Madhu Acharya in Nepal
        .strategy
          h3 PRX has three strategic areas of focus:
          ul
            li
              h4 Content
              p
                | PRX is changing the sound of public radio, championing new,
                | diverse, and independent voices, and pioneering new approaches
                | to program development. Signature shows include The Moth Radio
                | Hour, Sound Opinions, State of the Re:Union, Snap Judgment, American
                | Routes, and WTF with Marc Maron.
              p
                | PRX is also the home of <a href="http://www.radiotopia.fm/">Radiotopia</a>,
                | a podcast network of the best story-driven shows on the planet. Radiotopia
                | is anchored by <a href="http://www.99percentinvisible.org">99% Invisible</a>,
                | the popular design and architecture show from Roman Mars.
            li
              h4 Distribution
              p
                | PRX.org, public radio's largest distribution marketplace, offers
                | tens of thousands of audio pieces for broadcast and digital use.
                | PRX is an open system — anyone can join, publish, license content,
                | and earn royalties. Hundreds of public, community, college, and Low
                | Power FM (LPFM) stations buy pieces on PRX for their local air.
              p
                | PRX showcases the best work on <a href="http://prx.mx/">PRX Remix</a>,
                | our 24/7 channel available on XM 123, online, and on a growing number
                | of <a href="http://www.prx.org/remix">terrestrial stations</a>.
              p
                | PRX also develops <a href="http://apps.prx.org/">mobile apps</a>
                | for public media, including the Public Radio Player, This American
                | Life, KCRW Music Mine, and leading station apps for WBUR, WNYC,
                | KQED, and more.
            li
              h4 Leadership/Innovation
              p
                | PRX plays a key leadership role in and beyond public media, holding
                | board and advisory positions on national committees and organizations,
                | participating in policy work, consulting with local and national groups
                | and prominent funders in the field, and presenting at conferences and
                | blogs.
              p
                | In 2012, we launched <a href="http://matter.vc/">Matter Ventures</a>,
                | a San Francisco-based accelerator program helping mission-driven
                | entrepreneurs start media companies that inform, connect, and empower
                | society.
      .bottom-bar
        ul
          li
            h2 Office
          li
            h4 Mailing Address
            p P.O. Box 382234
            p Cambridge, MA 02238
          li
            h4 Phone
            p 617.576.5455
          li
            h4 Press Inquiries
            p jason [at] pkpr [dot] com
            p <a href="http://www.prx.org/about-us/press">Press Room</a>
          li
            h4 Address
            p 66 Church St.
            p 2nd Floor
            p Cambridge, MA 02138
