article.about-us
  #content
    #main
      section.what-is-prx
        h2 Hello
        h3
          em Making public radio more public
        p Public Radio Exchange (PRX) is an award-winning public media company.
        div
          p
            strong Our Vision
            | #{''} is an informed society, connected by shared stories and inspired to improve lives and communities.
          p
            strong Our Mission
            | #{''} is to harness technology to bring significant stories to millions of people.
          p
            strong PRX has three strategic areas of focus:
          ul.strategy
            li
              strong
                span Content
              p PRX is changing the sound of public radio, championing new, diverse, and independent voices, and pioneering new approaches to program development. Signature shows include The Moth Radio Hour, Sound Opinions, State of the Re:Union, Snap Judgment, American Routes, and WTF with Marc Maron.
              p PRX is also the home of a(href="http://www.radiotopia.fm/")Radiotopia, a podcast network of the best story-driven shows on the planet. Radiotopia is anchored by a(href="http://www.99percentinvisible.org")99% Invisible, the popular design and architecture show from Roman Mars.
            li
              strong
                span Distribution
              p PRX.org, public radio's largest distribution marketplace, offers tens of thousands of audio pieces for broadcast and digital use. PRX is an open system — anyone can join, publish, license content, and earn royalties. Hundreds of public, community, college, and Low Power FM (LPFM) stations buy pieces on PRX for their local air.
              p PRX showcases the best work on a(href="http://prx.mx/") PRX Remix, our 24/7 channel available on XM 123, online, and on a growing number of a(href="http://www.prx.org/remix")terrestrial stations.
              p PRX also develops
                a(href="http://apps.prx.org/")mobile apps for public media
              , including the Public Radio Player, This American Life, KCRW Music Mine, and leading station apps for WBUR, WNYC, KQED, and more.
            li
              strong
                span Leadership/Innovation
              p PRX plays a key leadership role in and beyond public media, holding board and advisory positions on national committees and organizations, participating in policy work, consulting with local and national groups and prominent funders in the field, and presenting at conferences and blogs.
              p In 2012, we launched a(href="http://matter.vc/)"Matter Ventures, a San Francisco-based accelerator program helping mission-driven entrepreneurs start media companies that inform, connect, and empower society.
        div.sidebar
          div.sidebar-content
          h2 Office
          dl
            dt Mailing Address
            dd P.O. Box 382234
            dd Cambridge, MA 02238
            dd
              em No CD submissions, please.
          dl
            dt Phone
            dd tel 617.576.5455
          dl
            dt Help
            dd a(href="https://prx.zendesk.com/categories/20013592-prx-org") Help docs and support
          dl
            dt Press Inquiries
            dd jason [at] pkpr [dot] com
            dd a(href="http://www.prx.org/about-us/press") Press Room
          dl
            dt Address
            dd 66 Church St.
            dd 2nd Floor
            dd Cambridge, MA 02138



