@import "accounts/_accounts.tablet.styl"

@import "accounts/_accounts.hero.styl"
@import "accounts/_accounts.hero.tablet.styl"

article.account {
  padding: 0 0 60px;

  .main {
    .gallery {
      header {
        margin-top: 25px;
      }
    }
  }
}

.account {
  .hero .img,
  & > a .img {
    border: 2px solid $light-grey;//TODO
    background-color: $slight-grey;//TODO
    border-radius: 50%;
    width: 70px;
    height: @width;
    float: left;
    margin: 0 10px 10px;
    position: relative;
    z-index: 5;

    &.default {
      image: '/assets/images/anonymous.png' 70px;
    }
  }

  .path,
  .location,
  .url {
    font-size: 12px; // TODO
    clear: both;
    // margin-bottom: 8px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 22px;
  }

  .path { image: '/assets/images/user_icon.png' 15px 13px; }
  .location { image: '/assets/images/location_icon.png' 12px 15px; }
  .url { image: '/assets/images/icons/website.png' 14px; }
}

section.account {
  min-width: 250px;

  .img {
    margin: 0px 10px 10px 0px;
  }

  h2 {
    line-height: 70px;
    margin-top: 0px !important;
  }
}
