@import "accounts/accounts.hero.styl";

.account {
  // Height is 70, add some margin to get it to 84
  #hero .img,
  & > a .img {
    border: 2px solid light-grey;
    background-color: slight-grey;
    border-radius: 50%;
    width: 70px;
    height: @width;
    float: left;
    margin: 7px $micro-spacing;
    position: relative;
    z-index: z-depth-4--accountImage;

    &.default {
      image: '/assets/images/anonymous.png' 70px;
    }
  }
}

section.account {
  min-width: 250px;
  padding-bottom: 1.5rem;

  h2 {
    height: 6rem;
    margin: 0px !important;
    display: flex;
    align-items: center;
  }
}

// These are given vertical space of 1 measure for the text and half a measure
// (0.75rem) total for padding. When there are two detail elements, this keeps
// vertical rhythm, but when there are three (or any odd number), the end of the
// section will be off by half a measure.
.account {
  .path,
  .location,
  .url {
    font-size: 12px; // TODO
    clear: both;
    // margin-bottom: 8px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 22px;
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;


    @media multi-column {
      margin-left: 10px;
    }

    // This rule corrects for the odd-number problem discussed above, by adding
    // an extra half measure
    &:nth-of-type(odd):last-child {
      margin-bottom: 0.75rem;
    }
  }

  .path { image: 'assets/images/user_icon.png' 15px 13px; }
  .location { image: 'assets/images/location_icon.png' 12px 15px; }
  .url { image: 'assets/images/icons/website.png' 14px; }
}
