.account {
  #hero .img, & > a .img {
    border: 2px solid light-grey;
    background-color: lightest-grey;
    border-radius: 50%;
    width: 70px;
    height: @width;
    float: left;
    margin: 10px;
    position: relative;
    z-index: 5;

    &.default {
      image: '/assets/images/anonymous.png' 70px;
    }
  }
}

article.account {
  floating();

  // a.loadingButton {
  //   button-blue(false);
  //   margin: 10px 0 0 0;
  //   display: block;
  //   padding: 8px 0;
  //   font-size: 1.25em;
  //
  //   &.loading {
  //     &:before {
  //       content: 'Loading ';
  //     }
  //     &:after {
  //       content: '...';
  //     }
  //   }
  // }

  #hero {
    .img {
      // the text is what pushes stuff down, not the image.
      margin-bottom: (70px / -2) !important;

      @media multi-column {
        width: 105px
        height: @width;
        margin: 10px 20px;
        margin-bottom: (@width / -2) - 2px !important;
      }
    }

    h1 {
      line-height: 60px;
      margin-bottom: -70px;
    }

    .details {
      clear: both;
      background-color: white;
      padding: 50px 15px 15px;

      @media multi-column {
        display: flex;

        ul {
          flex: 1 1 0px;
          margin-top: 20px;
        }

        .bio {
          margin-top: -35px
          flex: 2 2 0px;
        }
      }
    }

    .bio {
      a:last-child {
        font-weight: bold;
      }
    }
  }

  section.recent {
    position: relative;
    & > a {
      absolute: right 15px top 15px;
      line-height: 24px;
    }
    @media multi-column {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      section.story {
        flex: 0 1 250px;
      }
      & > h2 {
        flex-basis: 100%;
      }
      & > a {
        absolute: right top;
        line-height: 35px;
      }
    }
  }

}

section.account {
  min-width: 250px;

  .img {
    margin: 0px 10px 10px 0px;
  }

  h2 {
    line-height: 70px;
    margin-top: 0px !important;
  }
}

.account {
  .path, .location, .url {
    font-size: 12px;
    clear: both;
    margin-bottom: 8px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 22px;
    @media multi-column {
      margin-left: 10px;
    }
  }

  .path {
    image: 'assets/images/user_icon.png' 15px 13px;
  }

  .location {
    image: 'assets/images/location_icon.png' 12px 15px;
  }
  .url {
    image: 'assets/images/icons/website.png' 14px;
  }
}

aside > section.account:first-child {
  @media multi-column {
    position: relative;

    .img {
      margin-top: -13px;
    }

    // TODO: Figure out how much of this can be turned into variables.

    h2 {
      absolute: top left;
      right: 0;
      height: 45px;
      line-height: @height;
      font-size: 18px;
      padding-left: 100px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      background-color: offwhite;
      a {
        color: dark-grey;
      }
    }
  }
}

article.account-stories {
  section.story {
    margin-bottom: 10px;
  }
  .load-more {
    width: 100%;

    &.active {
      opacity: 0.5;
      cursor: default;
    }
  }
}
