article.account
  #hero
    .container
      prx-img(src="account.current.imageUrl", default-class="default")
      h1(ng-bind="account.current.name")
      .details
        ul
          li.path(ng-bind="account.current.path")
          li.location(ng-bind="account.current.address")
          li.url(ng-repeat="link in account.current.websites() track by link.href")
            a(ng-href="{{link.href}}" rel="external nofollow") {{ link.href | prettyUrl }}
        .bio
          div(ng-bind-html="account.current.description", limit-to-html="250", html-limited="wasShortened")
          a.full(ui-sref=".details", ng-if="wasShortened") (View Full Profile)
  #content
    #main
      section
        h2 Recent Stories
        prx-story(ng-repeat="story in account.recentStories" story="story")
        a.loadingButton(ng-click="account.nextStories()", ng-if="account.hasNextStories()", ng-class="{loading: account.recentStories.loading}") More Stories
