article.account
  #hero
    .container
      prx-img(src="account.current.imageUrl", default-class="default")
      h1(ng-bind="account.current.name")
      .details
        .path(ng-bind="account.current.path")
        .location(ng-bind="account.current.address")
        .bio
          div(ng-bind-html="account.current.description", limit-to-html="250", html-limited="wasShortened")
          a.full(ui-sref=".details", ng-if="wasShortened") (View Full Profile)
  #content
    #main
      section
        h2 Recent Stories
        prx-story(ng-repeat="story in account.recentStories" story="story")
        a.loadingButton(ng-click="account.nextStories()", ng-if="account.hasNextStories()", ng-class="{loading: account.recentStories.loading}") More Stories
