section(ng-if="loading || filteredStories.length")
  h3 {{account.name}}&apos;s Recent Stories
  prx-story(ng-repeat="story in filteredStories" story="story")
  a.more(ui-sref="account.show({accountId: account.id})", ng-if="filteredStories.length > 0") See all stories
  .loading-spinner(ng-show="loading")
