section.recent-stories(ng-show="loading || filteredStories.length")
  h3 Recent Stories
  a.more(ui-sref="account.show.allStories({accountId:account.id})", ng-show="filteredStories.length") View All
  prx-story(ng-repeat="story in filteredStories" story="::story")
  .loading-spinner(ng-show="loading")
