.pick
  prx-story(story="pick.story")
  .curation
    .curator
      prx-img(src="pick.account.imageUrl", default="assets/images/audrey.png")
      .name
        small {{pick.account.name}}
    p
      small(ng-bind="pick.comment")
