@import "picks/picks.tablet.styl";

section.picks.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .pick {
    background: $white;
    margin-top: 20px;
    margin-left: 10px; // for the gallery offset; do this better
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 100%;

    .story {
      margin: 10px;
    }

    .curation {
      display: flex;
      flex: 0 0 100%;

      .curator {
        flex-basis: 80px;
        flex-shrink: 0;
        padding: 10px;
        text-align: center;
        background: $light-blue;//TODO

        .img {
          border: 3px solid $light-grey;//TODO
          border-radius: 50%;

          &::before { // TODO make this a mixin or function
            content: '';
            display: block;
            padding-top: 100%;
          }
        }

        a {
          display: block;
          color: $contrast-body-copy-color;
          font-size: 12px;
        }
      }

      .exhibit {
        display: flex;
        flex-grow: 1;
        background: $light-blue;//TODO
        color: $contrast-body-copy-color;
        padding: 10px;
        min-height: 96px;
      }

      .show-more {
        display: none; // TODO yes?
        color: white;
        font-size: 10px;
        cursor: pointer;
        z-index: 50;
      }

      p.expander {
        visibility: hidden;
        position: absolute;
      }
    }
  }
}
