.pick(ng-class="{curated : !!pick.current.comment}")
  prx-story.billboard(story="pick.story")
  .curation(ng-if="pick.current.comment")
    .curator
      prx-img(src="pick.account.imageUrl", default="assets/images/audrey.png")
      a(rel="author" ui-sref="pick.account") {{pick.account.shortName}}
    .exhibit
      p(ng-bind="pick.current.comment", on-overflow="pick.setCommentOverflow($overflowing)")
      p.expander(ng-bind="pick.current.comment", ng-class="{expanded : pick.shouldExpandComment}")
      a.show-more(ng-show="pick.canShowMore", ng-click="pick.expandComment()") (Show More)
