#slideable {

  ul.drawer {
    position: fixed;
    top: 0;
    left: 0;
    background: offwhite; // TODO
    border-right: 1px solid $slight-grey; // TODO
    width: 250px;
    height: 100%;
    display: none;

    li a {
      padding: 10px 20px 10px 40px;
      display: block;
      border-bottom: 1px solid $slight-grey; // TODO
    }

    a.search {
      background-color: $orange; // TODO
      color: white; // TODO
    }

    a.category {
      font-weight: bold;
    }

    a.item {
      background-color: white; // TODO
      padding-left: 45px;
    }
  }

  &.open {
    ul.drawer {
      display: block;
      z-index: 10;
    }

    transform: none;
    transition: transform 0.2s;

    > .body {
      overflow-x: hidden;
      display: block;
      position: relative;
      height: 100%;
    }

    > .body > * {
      transform: translateX(250px);
    }
  }

  &.open-add {
    ul.drawer {
      display: block;
    }

    transition: none;
    transform: translateX(-250px);

    > .body {
      transform: translateX(250px);
    }
  }

  &.open-remove {
    transition: none;
    transform: translateX(250px);

    > .body > * {
      transform: none;
    }
  }

  &.open-remove.open-remove-active {
    transition: transform 0.2s;
    transform: none;
  }

}

.context-menu {
  background: $content-fill-color;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 73px;
  display: none;
  z-index: 600;

  &.visible,
  &.visible-add,
  &.visible-remove-active {
    display: block;
  }

  &.visible-add,
  &.visible-remove {
    transition: 0.2s transform;
  }

  &.visible-add,
  &.visible-remove-active {
    transform: translateY(-40px);
  }

  &.visible-add-active {
    transform: none;
  }
}
