$full-site-spacing {
  padding-bottom: 1.5rem * 3;
}

a.full-site {
  position: absolute;
  right: 0;
  bottom: 1rem;
  left: 0;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  border-top: 1px solid standard-rule-color;
  border-bottom: 1px solid standard-rule-color;
  background-color: content-fill-color;

  &:hover,
  &:active {
    text-decoration: none;
    background-color: link-color;
    color: contrast-link-color;
    border-color: active-link-color;
  }
}
