@media $media-tablet {
  header {
    position: fixed !important;
    top: 0px !important;
    height: tall-action-bar-height;
  }

  header h1 {
    background-image: url('/assets/images/ic_header_logo@2x.png');
    background-size: auto 33px;
    background-position: left center;
    live-area-sizing();
    height: tall-action-bar-height - 1px;
  }
}
