a.more {
  position: relative;
  display: inline-block;
  // margin-top: 20px;
  // margin-bottom: 20px;
  margin-right: 20px;
  white-space: nowrap;

  &:after {
    position: absolute;
    right: -12px;
    content: '»'
  }
}
