.meta {
  display: flex;
  flex-flow: row wrap;

  .term {
    flex: 1 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.5rem;
  }

  .value {
    display: inline;
    margin-left: 5px;
    font-weight: bold;
  }
}
