body.chromeless {
  width: 100vw;
  height: 100vh;

  .chrome {
    display: none;
  }

  ._chase {
    width: 100%;
    height: 100%;

    > main {
      width: 100%;
      height: 100%;
      margin: 0;
      border: 0;
      padding: 0;
    }
  }
}
