.meta {
  display: flex;
  flex-flow: row wrap;
  margin-top: 5px;

  .term {
    flex: 1 250px;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &.multiline {
      overflow: initial;
      white-space: initial;
      flex-basis: 100%;
    }
  }

  .value {
    display: inline;
    margin-left: 5px;
    font-weight: bold;
  }
}
