nav
  .xi-nav-item
    .nav-holder
      a Help
  .xi-nav-item
    .nav-holder
      a View Story As..
  .xi-nav-item
    .nav-holder
      a Preflight
  .xi-nav-item(ng-class="{'alert': story.current.$dirty}")
    .nav-holder
      a Save
