nav(ng-class="{'alert': story.current.$dirty}")
  .xi-nav-item
    .nav-holder
      a Help
  .xi-nav-item
    .nav-holder
      a Save
  .xi-nav-item
    .nav-holder
      a Save and Publish
  .xi-nav-item
    .nav-holder
      a(ui-sref="story.current") Discard
