@media $media-width-tablet {
  section.story.billboard {
    height: 150px!important;
    overflow: hidden;
    padding-top: 0;

    & > a .img {
      width: 150px!important;
      height: 150px!important;
    }

    .category {
      left: 160px;
    }

    h3 {
      height: auto;
      line-height: 24px
      -webkit-mask-image: none;
    }

    .desc {
      display: block!important;
      font-size: 13px;
      line-height: 25px;
    }
  }
}
