@media $media-width-tablet {
  .gallery.panels section.story {
    flex-basis: 192px!important;
    width: 192px;
    height: @width;
    max-width: 192px;

    h3 {
      // max-height: 48px;
      // line-height: 24px;
    }
  }
}
