article.embed-story {
  width: 100%;
  height: 100%;
  position: relative;
  background: #fafafa;
  cursor: pointer;

  .embed-player {
    width: 100%;
    height: 100%;
    position: relative;

    .layer2 {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url('/assets/images/em_wave_orange.png');
      background-size: auto 80%;
      background-position: left center;
      background-repeat: repeat-x

      .progress {
        position: absolute;
        width: 50%;
        height: 100%;
        background-image: url('/assets/images/em_wave_orange_lt.png');
        background-size: auto 80%;
        background-position: left center;
        background-repeat: repeat-x;
      }
    }

    .layer3 {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        color: white;
        font-family: 'Open Sans', Helvetica, sans-serif;
        font-weight: bold;
        font-size: 20px;
        position: relative;
        z-index: 999;
        -webkit-user-select: none;
        padding-left: 60px;
        padding-top: 17px;
        padding-bottom: 17px;
        // padding-left: 55px;
        margin: 0 10px;
        background: transparent url('/assets/images/em_pause.svg') 5px center / auto 50px no-repeat;

        &.paused {
          background-image: url('/assets/images/em_play.svg');
          background-position: left center;
        }
      }
    }

    .layer4 {
      .scrubber {
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        display: block;
      }
    }
  }
}

@media (max-width: 600px) {
  article.embed-story {
    .embed-player {
      .layer3 {
        h1 {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
}
