article.embed-story {
  width: 100%;
  height: 100%;
  position: relative;
  background: white;

  .info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 70px;

    h1 {
      font-size: 16px;
      line-height: 21px;
      max-height: 42px;
      margin: 6px 6px 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $active-link-color;
    }

    h2 {
      font-size: 12px;
      line-height: 12px;
      max-height: 12px;
      padding: 0 6px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $active-link-color;
    }
  }

  .player {
    position: absolute;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 0;

    .play,
    button {
      position: absolute;
      top: -70px;
      z-index: 1000;
    }

    .track {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      z-index: 500;

      .waveform,
      canvas {
        display: block;
        position: absolute;
        top: 5px;
        left: 0;
        width: 300px;
        height: 35px;
        border-color: $active-link-color;
        z-index: 800;
      }

      .scrubber {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: 40px;
        background: $active-link-color;
        z-index: 1500;
        overflow: hidden;

        span {
          display: none;
        }

        canvas {
          position: absolute;
          top: 5px;
          left: 0;
          width: 300px;
          height: 35px;
          border-color: white;
        }
      }

      .inverse {
        display: none;
      }
    }
  }

  // .info {
  //   .img {
  //     width: 100px;
  //     height: @width;
  //     border: 1px solid $art-border-color;
  //     background-color: $image-placeholder-fill-color;
  //   }
  // }
}
