h1(ng-bind="story.title")
article(ng-bind-html="story.description")
ul.actions
  li
    a.listen(ui-sref="story({storyId:story.id, autoPlay: true})") Listen Now
  li(ng-flag="LISTEN_LATER")
    a.schedule(ui-sref="story.remindMe({storyId: story.id})") Listen Later
  li
    a.view(ui-sref="story({storyId: story.id})") View
