h1(ng-bind="story.current.title")
article(ng-bind-html="story.current.description")
ul.actions
  li
    a.listen(ui-sref="story.show({storyId:story.current.id, play: true})") Listen Now
  li
    a.view(ui-sref="story.show({storyId: story.current.id})") View
