section.story
  .category audio story
  a(ui-sref="story")
    prx-img(src="story.imageUrl", default-class="default", ng-class="{playing: story.playing()}")
  h3
    a(ui-sref="story") {{story.title}}
  time(datetime="P{{story.duration}}S") {{story.duration * 1000 | timeCode }}
