.social-actions
  button.like(ng-flag="lovesharebuy") Like
  menu.share
    h4 Share
    a(ng-href="https://twitter.com/share?url={{$location.absUrl()}}&via=prx&text={{text}}" analytics-on="click" analytics-event="Twitter" analytics-category="Share" analytics-label="{{text}}") 
    a(ng-href="https://www.facebook.com/sharer/sharer.php?u={{$location.absUrl()}}" analytics-on="click" analytics-event="Facebook" analytics-category="Share" analytics-label="{{text}}") 
    a(ng-href="https://plus.google.com/share?url={{$location.absUrl()}}" analytics-on="click" analytics-event="Google+" analytics-category="Share" analytics-label="{{text}}") 
  button.buy(ng-flag="lovesharebuy") Buy
