article.story
  #hero
    .category audio story
    prx-player-button(sound="story.getSound")
    h1 {{story.current.title}}
    address.author
      | by #{''}
      a(rel="author" ui-sref="story.account") {{story.account.name}}
    span.duration
      | Length: #{''}
      time(datetime="P{{story.length}}S") {{story.current.length * 1000 | timeCode: 'short' }}
    ul.actions(ng-flag="lovesharebuy")
      li.love.fa.fa-heart Love
      li.share.fa.fa-share Share
      li.buy.fa.fa-shopping-cart
        | Buy
        span.fa.fa-sort-asc.more
  section.details
    h2 Details
    p
      | {{story.current.shortDescription}} #{''}
      a.unbreakable(ui-sref=".details" ng-if="story.current.description") (View Full Description)
  aside
    prx-account(account="story.account")
