article.story
  #hero(ng-class="story.cover.choice")
    .container
      prx-player(sound="story.sound", prxp-convert="story.cover")
      .media
        prx-img(src="story.current.imageUrl", default-class="default")
        .content
          .category audio story
          h1 {{story.current.title}}
          address.author
            | by #{''}
            a(rel="author" ui-sref="story.account") {{story.account.name}}
          span.duration.last
            | Length: #{''}
            time(datetime="P{{story.current.duration}}S") {{story.current.duration * 1000 | timeCode: 'short' }}
          a.content_advisory(ui-sref=".content_advisory" ng-if="story.current.contentAdvisory") Content Advisory
      ul.actions(ng-flag="lovesharebuy")
        li.love.fa.fa-heart Love
        li.share.fa.fa-share Share
        li.buy.fa.fa-shopping-cart
          | Buy
          span.fa.fa-sort-asc.more
  #content
    #main
      section.details
        h2 Details
        p
          | {{story.current.shortDescription}} #{''}
          a.unbreakable(ui-sref=".details" ng-if="story.current.description") (View Full Description)
      storytime-cta
    #asides
      aside
        prx-account(account="story.account")
        prx-account-recent-stories(account="story.account", limit="3", skip="story.current")
