@import "stories/_stories.tablet.styl";

@import "stories/_stories.partial.styl";
@import "stories/_stories.partial.small-tablet.styl";
@import "stories/_stories.partial.tablet.styl";

@import "stories/_stories.gallery.styl";
@import "stories/_stories.gallery.small-tablet.styl";
@import "stories/_stories.gallery.tablet.styl";

@import "stories/_stories.modal.styl";

@import "stories/_stories.hero.styl";
@import "stories/_stories.hero.tablet.styl";

@import "stories/_stories.embed.styl";

article.story {
  .main,
  .asides {
    background: $content-fill-color;
  }
}

article.story .main {
  .ad {
    padding-top: 1px;
  }

  > section {
    border-top: 1px solid $section-border-color; // TODO common section border
    padding-bottom: 15px;

    &:first-of-type { // TODO common behavior
      border: none;
    }

    h2 {
      color: $heading-color;
      font-size: 20px;
      line-height: 32px;
      padding: 15px 0 0;
      font-weight: lighter;
    }
  }

  ul.tags {
    margin-top: 15px;
    li {
      display: inline-block;
      color: $blue;
      background: rgba($blue, 0.1);
      padding: 5px 18px 5px 9px;
      margin: 0 5px 5px 0;
    }
  }

  .timing-cues div {
    p {
      margin-top: 10px;
    }
  }

  .musical-works {
    table {
      margin: 0;
      border: 0;
      padding: 0;
      width: 100%;
    }

    tr {
      &:nth-child(2n) {
        background: $offwhite;
      }
    }

    th,
    td {
      display: none;

      &:nth-child(1) { display: table-cell; }
      &:nth-child(2) { display: table-cell; }
      &:nth-child(3) { display: table-cell; }
    }

    th {
      font-weight: bold;
      border-bottom: 1px solid $table-header-border-color;
      padding: 8px 6px 3px;
    }

    td {
      padding: 8px 6px;
      vertical-align: top;
      font-size: 0.9em;
    }
  }

  .licensing {
    padding-bottom: 1px;

    li {
      margin: 15px 0 15px 45px;
      clear: both;
      position: relative;
      min-height: 45px

      &::before {
        width: 25px;
        height: @width;
        display: block;
        position: absolute;
        left: -45px;
        content: '';
        float: left;
        background-repeat: no-repeat;
        margin: 10px 15px 15px 0px;
      }
    }

    .broadcast::before {
      image: '/assets/images/icons/broadcast.png' contain;
    }
    .stream::before {
      image: '/assets/images/icons/stream.png' contain;
    }
    .edit::before {
      image: '/assets/images/icons/lock.png' contain;
    }
    .advisory::before {
      image: '/assets/images/icons/forbidden.png' contain;
    }

    .additional {

    }
  }
}

article.story .asides {
  aside {
    .story {
      margin-top: 10px;
    }

    > section { // TODO common?
      padding-top: 15px;
      padding-bottom: 15px;
      border-top: 1px solid $section-border-color;
      position: relative;

      > h2 { // TODO common?
        font-size: 20px;
        font-weight: lighter;
      }

      > h3 { // TODO common?
        font-size: 18px;
        line-height: 44px;
        color: $heading-color;

        & + a { // TODO similar to gallery, common?
          font-size: 12px;
          position: absolute;
          top: 15px;
          right: 10px;
          line-height: 44px;

          &::after {
            content: '»';
            display: inline-block;
            padding-left: 8px;
          }
        }
      }
    }
  }
}

div.inlay {
  margin: 10px;
  border: 1px solid $slight-grey;
  background-color: $offwhite;
  padding: 10px;
  border-radius: $border-radius;
}

label {
  display: block;
  font-size: 1.4em;
  margin-bottom: 35px;
  input, textarea {
    display: block;
    width: 100%;
    font-size: 0.7em;
    color: $grey;
    margin-top: 15px;
  }
  input.large {
    font-size: 0.9em;
  }
  textarea {
    background-color: $offwhite;
    border: 1px solid $slight-grey;
    height: 65px;
    padding: 10px;
  }
  textarea.small {
    height: 53px;
  }
}

input:focus, textarea:focus {
  background-color: $white;
}

label small {
  display: block;
  font-size: 0.6em;
  line-height: 1.2em;
  color: $light-grey;
  margin-top: 10px;
}

form {
  margin: 10px;
}

#sheet tabs.vertical > ul {
  max-width: 105px;
}
