article.story
  #hero(ng-class="story.cover.choice")
    .container
      prx-player(sound="story.sound", prxp-convert="story.cover")
      .media
        prx-img(src="story.current.imageUrl", default-class="default")
        .content
          .category audio story
          h1 {{story.current.title}}
          ul.metadata
            li
              address.author
                | by #{''}
                a(rel="author" ui-sref="story.account") {{story.account.name}}
            li.duration
              | Length: #{''}
              time(datetime="P{{story.current.duration}}S") {{story.current.duration * 1000 | timeCode: 'short' }}
          a.content_advisory(ui-sref=".content_advisory" ng-if="story.current.contentAdvisory") Content Advisory
      prx-social-actions(text="story.current.title")
  #content
    #main
      section.details
        h2 Details
        p
          | {{story.current.shortDescription}} #{''}
          a.unbreakable(ui-sref=".details" ng-if="story.current.description") (View Full Description)
      storytime-cta
      section.ad
        prx-ad(slot="/41755363/visitor_story_view_less_than_800")
    #asides
      aside
        prx-account(account="story.account")
        prx-account-recent-stories(account="story.account", limit="3", skip="story.current")
