article.story
  #hero(ng-class="story.cover.choice")
    .container
      prx-player(sound="story.sound", prxp-convert="story.cover")
      .media
        prx-img(src="story.current.imageUrl", default-class="default")
        .content
          .category audio story
          h1 {{story.current.title}}
          ul.metadata
            li
              address.author
                | by #{''}
                a(rel="author" ui-sref="story.account") {{story.account.name}}
            li.duration
              | Length: #{''}
              time(datetime="P{{story.current.duration}}S") {{story.current.duration * 1000 | timeCode: 'short' }}
          a.content_advisory(ui-sref=".content_advisory" ng-if="story.current.contentAdvisory") Content Advisory
      prx-social-actions(text="story.current.title")
  #content
    #main
      prx-ad(slot="/41755363/visitor_story_view_less_than_800")
      section.details
        h2 Details
        p
          | {{story.current.shortDescription}} #{''}
          a.unbreakable(ui-sref=".details" ng-if="story.current.description") (View Full Description)
        .meta
          .term
            | Added to PRX:
            .value {{story.current.publishedAt | timeAgo}}
          .term(ng-if="story.producers")
            | Producers:
            .value {{story.producers}}
          .term(ng-if="story.current.producedOn")
            | Produced:
            .value {{ story.current.producedOn | date : 'mediumDate'}}
          .term(ng-if="story.current.relatedWebsite")
            | Related Site:
            .value
              a(ng-href="{{story.current.relatedWebsite}}", rel="nofollow", ng-bind="story.current.relatedWebsite")
      section.timing-cues(ng-if="story.current.timingAndCues")
        h2 Timing &amp; Cues
        div(ng-bind-html="story.current.timingAndCues | highlightTimecodes | simpleFormat", limit-to-html="250", html-limited="longCues")
        a.full(ui-sref=".timingCues", ng-if="longCues") (View Full Timing & Cues)
    #asides
      aside
        prx-account(account="story.account")
        prx-account-recent-stories(account="story.account", limit="3", skip="story.current")
