@import "stories/stories.hero.styl";
@import "stories/stories.social.styl";
@import "stories/stories.license.styl";
@import "stories/stories.tags.styl";
@import "stories/stories.story.styl";

article.story {
  background: content-fill-color;

  @media multi-column {
    background: transparent;
  }

  .ad {
    // Ad is 50px tall.
    // 3 * measure = 63
    border-top: 10px solid transparent;
    border-bottom: 3px solid transparent;

    @media multi-column {
      border-bottom: 5px solid transparent;
    }
  }
}
