section.player
  .category documentary
  .toggle-button(ng-class="{play: story.paused(), pause: !story.paused()}", ng-click="story.togglePlay()", analytics-on="click", analytics-event="play")
  h1 {{story.title}}
  h4 by <strong>{{account.name}}</strong>
  h4 Length: {{story.length * 1000 | timeCode: 'short' }}
ul.actions(ng-flag="lovesharebuy")
  li.love.fa.fa-heart Love
  li.share.fa.fa-share Share
  li.buy.fa.fa-shopping-cart
    | Buy
    span.fa.fa-sort-asc.more
section.body
  article.details
    h2 Details
    p
      | {{story.shortDescription}}
      a.unbreakable(ui-sref=".details") (View Full Description)
    dl
      dt Added to PRX:
      dd(ng-bind="story.publishedAt | timeAgo")
  article.account
    prx-img(src="account.imageUrl")
    h2(ng-bind="account.name")
    .path(ng-bind="account.path")
    .location(ng-bind="account.address")
