@import "stories/stories.hero.styl";
@import "stories/stories.social.styl";
@import "stories/stories.license.styl";
@import "stories/stories.tags.styl";
// @import "stories/stories.story.styl";

article.story {
  // background: content-fill-color;

  @media multi-column {
    background: transparent;
  }

  .ad {
    // Ad is 50px tall.
    // 3 * measure = 63
    padding-top: 10px;
    padding-bottom: 3px;
  }
}
