$action-bar-height                       = 50px;
$tall-action-bar-height                  = 73px;

// scrollbars

$scrollbar-size                          = 9px;

//- Border radius
$border-radius                           = 2px;

$tab-border-radius                       = $border-radius;
