// All colors used throughout the site should be included in this file. Any time
// a style colors some element property the color should come from the
// 'Application' section below. Color swatches are defined as private variables,
// and context-specific application variable expose the colors to the rest of
// the stylesheets.
//

// Color Swatches (private)
// -----------------------------------------------------------------------------
//- Monochromatics
$darkest-grey = $midnight                = rgb(37, 37, 37);
$dark-grey                               = rgb(52, 52, 52);
$grey                                    = rgb(103, 103, 103);
$middle-grey                             = rgb(119, 119, 119);
$light-grey                              = rgb(163, 163, 163);
$slight-grey                             = rgb(230, 230, 230);
$offwhite                                = rgb(240, 240, 240);
$white                                   = rgb(255, 255, 255);

//- Blues
$light-blue                              = rgb(112, 142, 151);
$blue = mid-blue                         = rgb(54, 138, 162);
$darker-blue = $dark-blue                = rgb(43, 113, 135);
$darkest-blue                            = rgb(44, 89, 102);

//- Oranges
$orange = $light-orange                  = rgb(245, 159, 81);
$dark-orange                             = rgb(226, 139, 66);


// Application Colors
// -----------------------------------------------------------------------------
//- Fill
$background-fill-color                   = $midnight;
$page-fill-color                         = $offwhite;
$content-fill-color                      = $white;
$image-placeholder-fill-color            = $slight-grey;
$global-player-fill-color                = $darkest-blue;
$global-player-track-fill-color          = $slight-grey;
$global-player-progress-fill-color       = $dark-orange;
$player-button-fill-color                = $orange;
$content-placeholder-fill-color          = $slight-grey;

//- Borders
$section-border-color                    = $slight-grey;
$art-border-color                        = $slight-grey;
$nav-separator-color                     = $slight-grey;
$header-border-color                     = $slight-grey;
$table-header-border-color               = $slight-grey;

//- Text
$body-copy-color                         = $grey;
$subtle-body-copy-color                  = $light-grey;
$contrast-body-copy-color                = $white;
$link-color                              = $blue;
$active-link-color                       = $dark-blue;
$nav-link-color                          = $light-grey;
$heading-color                           = $dark-grey;

//- Scrollbars
$scrollbar-track-color                   = rgba($light-grey, 0.5);
$scrollbar-thumb-color                   = rgba($darkest-grey, 0.8);
$modal-scrollbar-track-color             = rgba($blue, 0.2);
$modal-scrollbar-thumb-color             = rgba($blue, 0.8);

//- Services
$facebook-blue                           = #4C66A4;
$twitter-blue                            = #55ACEE;

//- Progress bars
$progress-well                           = $slight-grey;
$progress-bar                            = $orange;

//- Tabs
$tab-bed-color                           = $darkest-blue;
$tab-inactive-background-color           = $dark-blue;
$tab-inactive-text-color                 = $white;
$tab-active-background-color             = $white;
$tab-active-text-color                   = $grey;
$tab-body-background-color               = $tab-active-background-color;

$sidebar-active-text-color               = $white
$sidebar-inactive-text-color             = $slight-grey;
