article.terms
  .content
    #main
      section
        h1 PRX Digital Millennium Copyright Act Policy
        p
          | Consistent with the Digital Millennium Copyright Act,
          | if you believe that your copyrighted materials have
          | been copied in a way that constitutes copyright infringement,
          | please send an e-mail or written notice to our designated
          | agent for notices of infringement and provide the following
          | information:
        p
          | 1. An electronic or physical signature of the person authorized
          | to act on behalf of the owner of the copyright interest.
        p
          | 2. A description of the copyrighted work that you claim has been
          | infringed.
        p
          | 3. A description of where the material that you claim is infringing
          | is located on the PRX site.
        p
          | 4. Your address, telephone number, and email address.
        p
          | 5. A statement by you that you have a good faith belief that the
          | disputed use is not authorized by the copyright owner, its agent,
          | or the law.
        p
          | 6. A statement by you, made under penalty of perjury, that the
          | above information in your notice is accurate and that you are the
          | copyright owner or authorized to act on the copyright owner's behalf.
        p
          | Our designated agent for notice for claims of copyright infringement
          | is our Executive Director who can be reached as follows:
        ul
          li By mail: Jake Shapiro, PRX, PO Box 382234, Cambridge MA 02238
          li By phone: (617) 576-5455
          li By email: <a href="mailto:prxdmca@prx.org?subject=DMCA%20Notice%20for%20Claims%20of%20Copyright%20Infringement">click this link</a>
        p
          | Note: the above contact information is provided exclusively for notifying
          | PRX that your copyrighted material may have been infringed. All other
          | inquiries, (e.g., requests for technical assistance or customer service,
          | reports of email abuse, and piracy reports), will not receive a response
          | through this process and should be directed to PRX via email or by phone.
          | Please see the <a href="http://www.prx.org/help/contact">Contact PRX Help</a>
          | page for details.
