article.downloading
  .content
    #main
      section
        h1 PRX Downloading Policy
        p
          | Pieces you download from PRX are intended for use on
          | noncommercial broadcast radio stations and stations’
          | Internet streams and sites. In the case of PRX-approved
          | non-station acquirers (“Outside Purchasers”), each acquirer
          | agrees to use pieces downloaded from PRX in accordance with
          | their terms displayed on the Site and agreed to by individual
          | producers.
        p
          | You must abide by the license terms for each piece, as well
          | as the general terms and conditions of the <a ui-sref="terms.userAgreement">PRX User Agreement</a>.
