article.terms
  .content
    #main
      section
        h1 PRX Payment Policy
        p
          | 1. Payments are made quarterly and are based on the
          | point/dollar ratio posted at the end of each quarter.
          | The minimum base rate is $.50/minute.
        p
          | 2. Payments are due only to producers, stations, and groups
          | who have a paid account within the fiscal quarter the royalties
          | are earned. For those producers whose memberships have expired,
          | PRX will make an effort to notify the producer of any incoming
          | royalties. Should the account not be reactivated within a
          | reasonable amount of time, PRX reserves the right to apply the
          | funds to the PRX operating budget.
        p
          | 3. At the end of each fiscal quarter, members can access an
          | electronic statement of earnings in the My PRX section (must
          | be logged in).
        p
          | 4. PRX royalty payments have a base rate of $.50/minute (or $.10
          | a point). Producers will earn a bonus royalty if the station
          | who licenses the piece is in a larger market (i.e. the piece
          | reaches more listeners). The bonus is based on the price the
          | station paid for their membership package on PRX. Generally
          | speaking, the bigger the station, the bigger the point/dollar
          | ratio. PRX will guarantee a minimum royalty rate of $.50/minute.
        p
          | 5. Royalties may also be earned if your piece is licensed by an
          | outside purchaser (alternative digital distributor), a podcast or
          | a national show. Flat rates are established by each purchaser.
          | Please read the terms of distribution carefully. You must have a
          | paid account for royalties to be paid to you.
        p
          | 6. Payments will be issued by check within 30 days of the end of
          | the fiscal quarter.
        p
          | 7. Royalties are considered taxable income. Members wishing to
          | get paid must provide PRX with a social security number or tax
          | identification number and a reliable mailing address. Please
          | contact membership at 617.576.5455 or by <a href="http://www.prx.org/contact">email</a>
          | to update or change your address.
