article.terms
  .content
    #main
      section.terms
        h1 PRX Terms of Use
        a(ui-sref="terms.userAgreement") User Agreement
        a(ui-sref="terms.privacyPolicy") Privacy Policy
        a(ui-sref="terms.uploadingPolicy") Uploading Policy
        a
          | Downloading Policy
        a
          | Digital Millenium Copyright Act Policy
        a
          | Payment Policy
