article.terms
  .content
    #main
      section.terms
        h1 PRX Terms of Use
        a(ui-sref="userAgreement")
          | User Agreement
        a
          | Privacy Policy
        a
          | Uploading Policy
        a
          | Downloading Policy
        a
          | Digital Millenium Copyright Act Policy
        a
          | Payment Policy
