article.terms {
  h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
  }

  h2, h4 {
    margin: 15px 0;
  }

  .contents {
    margin-bottom: 20px;

    a {
      display: block;
      margin: 10px 0;
    }
  }

  p {
    margin: 10px 0;
    font-weight: lighter;
  }

  li {
    font-weight: lighter;
    margin: 0 20px;
  }

  section.terms {
    a {
      display: block;
      font-size: 1.1em;
      padding: 10px 5px;
    }

    a:nth-child(2n + 1) {
      background-color: lightest-grey;
    }
  }
}
