article.terms {
  h1 {
    padding: 10px 5px;
    border-bottom: 1px solid black;
  }

  a {
    display: block;
    padding: 15px 5px;
    font-size: 1.2em;
  }

  a:nth-child(2n + 1) {
    background-color: lightest-grey;
  }
}
