article.uploading
  .content
    #main
      section
        h1 PRX Uploading Policy
        p
          | 1. Pieces you upload to PRX are intended for use on
          | noncommercial broadcast radio stations and stations'
          | Internet streams and sites. To learn about other
          | distribution opportunities, <a href="http://prx.zendesk.com/entries/20554967-outside-purchasers-another-distribution-option">click here</a>.
        p
          | 2. You may not upload self-contained, complete musical
          | works or excerpts, except if the music is contained
          | in a longer piece. For legal reasons, pieces may contain
          | music as background, transition, or featured (as in an
          | interview with a musician about a song), but you cannot
          | post a stand-alone, complete or excerpted musical work to PRX.
        p
          | For example, you cannot upload The Rolling Stones' "Satisfaction"
          | to PRX, but you can post a program about the Stones that contains
          | all or part of "Satisfaction."
        p
          | 3. Piece audio must conform to PRX's audio and technical standards,
          | as described in the <a href="http://prx.zendesk.com/entries/20554867-encoding-uploading-and-creating-pieces">instructions on how to upload</a>.
        p
          | 4. You must be the copyright holder or have secured all necessary
          | rights for pieces you upload, as described in the
          | <a href="/terms-of-use/user-agreement#section1">PRX User Agreement Sections 1.8 and 1.9</a>.
        p
          | 5. Broadcasting is a regulated industry. It is your responsibility
          | to be aware of any federal and state laws and regulations that
          | apply to producers of radio programs.
        p
          | Specifically, if you post programs or pieces to PRX that contain
          | any profanity (the famous 7 words you cannot use on-air) or
          | content of questionable taste to a mass audience (body functions,
          | sexual innuendo or descriptions, graphic descriptions of violence
          | or tragedy, for example) you must complete the Content Advisory
          | section of the piece editing page.
        p
          | For an overview of applicable laws visit <a href="//www.prss.org/producers-gettingstarted-laws-index.html">this link</a>.
          | If you have a question or are uncertain, please <a href="http://www.prx.org/contact">Contact PRX Help</a>.
