article.user-agreement, article.privacy-policy,
article.uploading, article.downloading {
  h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
  }

  h2, h4 {
    margin: 15px 0;
  }

  .contents {
    margin-bottom: 20px;

    a {
      display: block;
      margin: 10px 0;
    }
  }

  p {
    margin: 10px 0;
    font-weight: lighter;
  }
}
