article.terms
  .content
    #main
      section
        h1 PRX User Agreement
        p Version 1.1.0 as of May 5, 2011
        .contents
          a(href="#preamble") Preamble
          a(href="#section1") Section 1: General Terms
          a(href="#section2") Section 2: Peer Review Service
          a(href="#section3") Section 3: Uploading Service
          a(href="#section4") Section 4: Downloading Service
        h2 Preamble <a name="preamble">&nbsp;</a>
        p
          | Public Radio Exchange (PRX) is a nonprofit Internet-based
          | service for distribution, review, and licensing of radio
          | programming. The mission of PRX is to create more opportunities
          | for diverse programming of exceptional quality, interest, and
          | importance to reach more listeners.
        p
          | To achieve this ambitious goal we have created PRX.org. In
          | order for us to operate the site and offer our the services
          | responsibly and effectively there are legal requirements we
          | require our users to abide by in order to participate. We appreciate
          | your understanding and are happy to answer any questions you have
          | about this Agreement. Contact us via the email address on
          | <a href="http://www.prx.org/help/contact">prx.org/help/contact</a>
          | or at 617-576-5455.
        p
          | This Agreement, together with the
          | <a href="http://www.prx.org/terms-of-use/uploading-policy">Uploading</a>,
          | <a href="http://www.prx.org/terms-of-use/downloading-policy">Downloading</a>,
          | <a href="http://www.prx.org/terms-of-use/commenting-policy">Commenting</a>,
          | <a href="http://www.prx.org/privacy-policy">Privacy</a>, and
          | <a href="http://www.prx.org/terms-of-use/payment-policy">Payment Policies</a>
          | (“The Agreement”), describes the legal relationship between you (an individual,
          | representing yourself, or if applicable, acting as legal representative for a
          | group, institution, company or corporation) and the Public Radio Exchange ("PRX"),
          | referred to in this Agreement as "we" or "us" or "PRX", the owner and operator of
          | the web pages at or linked to the root URL "prx.org," (the "Site").
        p
          | Please read this Agreement carefully. We may modify this Agreement from time
          | to time as further described in Section 1.15 below. A link to the current
          | Agreement and Policies is in the "Terms of Use" section of the Site.
        p
          | This Agreement addresses three (3) different categories of service available on
          | the Site (each a "Service," collectively the "PRX Services"). Payment of royalties
          | is subject to the <a href="http://www.prx.org/terms-of-use/payment-policy">PRX Payment Policy</a>.
        p
          | Through the Peer Review Service you can browse, listen to, rate and review audio files
          | (referred to herein as “Pieces”), share and embed certain Pieces on third party websites
          | through functionality offered by the Peer Review Service (the “Embeddable Player”), as
          | well as create a public personal profile. With the Uploading Service you supply audio
          | and other content to us and allow us to include your Materials in our database, which
          | we can make available via the Internet for purposes of review, embedding, and paid
          | acquisition by authorized third parties. The Downloading Service is available to
          | noncommercial radio stations and authorized third parties through a separate authentication
          | and payment process, and allows you to acquire Pieces for terrestrial broadcast and Internet
          | use as part of a subscription package.
        p
          | The minimum level of participation in PRX Services is through the Peer Review Service.
          | Users of the Uploading Service are automatically included in the Peer Review Service,
          | and users of the Downloading Service are automatically included in both the Uploading
          | Service and the Peer Review Service.
        p
          | Legal terms applicable to all Services are described in Section I: General Terms. The
          | legal terms that apply to the Peer Review Service, the Uploading Service, and the
          | Downloading Service are described below in Sections 2, 3 and 4, respectively. Additionally,
          | PRX Services are governed by Policies listed in the Policies section of the Site.
        h2 Section 1: General Terms <a name="section1">&nbsp;</a>
        p
          | The following terms apply to the Uploading Service, the Peer Review Service, the Downloading
          | Service (collectively, "the PRX Services") and the Site generally:
        h4 1.1 Eligibility
        p
          | Use of the PRX Services and registration as a Member for the PRX Services ("Membership") is
          | void where prohibited. By using the PRX Services, you represent and warrant that (a) all
          | registration information you submit is truthful and accurate; (b) you will maintain the
          | accuracy of such information; (c) you are 13 years of age or older; and (d) your use of
          | the PRX Services does not violate any applicable law or regulation. Your profile may be
          | deleted and your Membership may be terminated without warning if we believe that you are
          | under 13 years of age, if we believe that you are under 18 years of age and you represent
          | yourself as 18 or older, or if we believe you are over 18 and represent yourself as under 18.
        h4 1.2 Privacy
        p
          | We respect the privacy of our users. Our Privacy Policy is expressly incorporated herein
          | by reference and made a part of this Agreement.
        h4 1.3 Your Information
        p
          | You agree to provide current, complete, and accurate information required to complete your
          | registration with us and at other points as may be required in the course of using the PRX
          | Services (such information will be referred to herein, collectively, as "Registration Data").
          | You further agree to maintain and update Registration Data as required to keep it current,
          | complete, and accurate. You shall not use a false or misleading name or a name that you are
          | not authorized to use.
        h4 1.4 User Account, Password, and Security
        p
          | a. Account and Password: As a registered user of the PRX Services, you may receive or
          | establish one or more passwords and accounts ("PRX Account(s)"). You are solely
          | responsible for maintaining the confidentiality and security of your password(s)
          | and PRX Account(s). You are entirely responsible for all activities that occur on
          | or through your PRX Account(s).
        p
          | b. Security, Cracking and Hacking Users are prohibited from violating or attempting
          | to violate the security of the Site, including, without limitation, (a) accessing
          | data not intended for such user or logging into a server or account which the user
          | is not authorized to access, (b) attempting to probe, scan or test the vulnerability
          | of a system or network or to breach security or authentication measures without proper
          | authorization, (c) attempting to interfere with service to any user, host or network,
          | including, without limitation, via means of submitting a virus to the Site, overloading,
          | "flooding," "spamming," "mailbombing" or "crashing," (d) sending unsolicited e-mail,
          | including promotions and/or advertising of products or services, or (e) forging any
          | TCP/IP packet header or any part of the header information in any e-mail or newsgroup
          | posting. Violations of system or network security may result in civil or criminal liability.
          | You agree that it is your responsibility to install anti-virus software and related protections
          | against viruses, Trojan horses, worms, time bombs, cancelbots or other computer programming
          | routines or engines that are intended to damage, destroy, disrupt or otherwise impair a
          | computer's functionality or operation.
        h4 1.5 Reviews and Other Public Posting Areas
        p
          | PRX encourages an open exchange of information and ideas. But we cannot and do not review
          | every posting made in Piece comments, reviews, features, articles, and other public posting
          | areas on the Site. You should expect these areas to include information and opinions from a
          | variety of individuals and organizations other than PRX. We do not endorse or guarantee the
          | accuracy of any posting, regardless of whether the posting comes from a user, from a guest,
          | or from a member of our staff.
        p
          | Responsibility for what is posted in Piece comments, review, features, articles, and other
          | public posting areas on the Site lies with each user — you alone are responsible for material
          | you post. You agree not to post or transmit any defamatory, abusive, obscene, threatening or
          | illegal material, or any other material that infringes on the ability of others to enjoy the
          | Site or that infringes on the rights of others. You agree to conform to Site polices concerning
          | the size, length, format, subject, content, or relevancy of the Materials you submit.
        p
          | Although PRX cannot monitor all the postings in Piece comments, reviews, features, articles,
          | and other public areas, we reserve the right to delete, move, or edit any postings that come
          | to our attention that we consider unacceptable or inappropriate, whether for legal or other reasons.
        h4 1.6 Prohibited Site Usage
        p
          | You may only access the Materials for personal, educational, or noncommercial purposes or as
          | expressly provided for in the Downloading Service (described in Section 4) or other applicable
          | PRX Services terms and conditions. The information, programming, content, artwork, text,
          | graphics, video, audio, pictures, software and other intellectual property (collectively,
          | "Materials") available through the Site are the property of PRX or its licensors (the users),
          | and most of the Materials are protected by copyright, trademark and other intellectual
          | property laws. The Site and/or any portion of the Site may not be reproduced, duplicated,
          | copied, sold, resold, visited or otherwise exploited for any commercial purpose without our
          | express written consent, except for such reproduction as occurs in the normal course of
          | reading or viewing the Site using a Web browser. Except with our express written consent,
          | we do not permit any resale or commercial use of the Site or its contents; any collection
          | and use of any Piece listings, descriptions, or prices; any derivative use of the Site or
          | its contents; any downloading or copying of account information for the benefit of another
          | merchant; or any use of data mining, robots, or similar data gathering and extraction tools.
        h4 1.7 Links to Third Party Sites
        p
          | The Site contains links to third party web sites ("Third Party Sites"). Because we have no control
          | over Third Party Sites, we do not endorse, have not reviewed and are not responsible for the
          | availability of Third Party Sites. You acknowledge that use of Third Party Sites is at your
          | own risk and that we are not responsible or liable, directly or indirectly, for any damage
          | or loss you incur in connection with products or services available on Third Party Sites,
          | nor for the accuracy, copyright compliance, legality, decency or other aspect of Third Party Sites.
        h4 1.8 Intellectual Property
        p
          | a. Ownership of Copyrights: You retain ownership of the copyrights and all other rights in the
          | Materials furnished by you for use via PRX Services, subject only to the nonexclusive rights
          | granted to us under this Agreement. You are free to grant similar rights to others during
          | and after the term of this Agreement. By submitting Materials you grant us a nonexclusive
          | worldwide license to publicly perform, publicly display, broadcast, encode, reproduce,
          | modify, publish, transmit, manufacture, distribute, create derivative works, and
          | synchronize your Materials for the purpose of operating, displaying, distributing and
          | promoting PRX, or for any other purpose in connection with the site. Subject to additional
          | terms and conditions you specify through the Uploading Service, you further grant us a
          | non-exclusive worldwide license to permit authorized third parties to publicly perform,
          | publicly display, broadcast, encode, reproduce, modify, publish, transmit, manufacture,
          | distribute and synchronize your Materials for purposes of peer review, commenting, rating,
          | audition, and transmission to the public via multiple channels, including but not limited
          | to terrestrial radio, Internet, digital radio, satellite, and wireless services. You will
          | not use the Site to violate anyone's copyright, trademark, or other intellectual property
          | rights. By submitting Materials to the Site, you are representing that you are the owner
          | of the Materials, or that all the copyright interests set forth above have been conferred
          | on PRX by the owner(s) of those interests. Submitting Materials that are the property of
          | another, without the consent of the owner, is not only a violation of this Agreement,
          | but may also subject you to legal liability for infringement of copyright, trademark,
          | or other intellectual property rights. Subject to the provisions contained in Section
          | 1.12, "Term and Termination" below, you may terminate your license to us with respect
          | to some or all of your Materials, at any time by utilizing tools provided in the My
          | PRX area of the Site.
        p
          | b. Removal of PRX Content or other Materials: Notwithstanding any other provision of
          | this Agreement, we reserve the right to remove or disable access to any content or
          | other Materials comprising a part of the PRX Services. We will in no event be liable
          | for the good faith removal of or disabling of access to any such content or Materials
          | under this Agreement.
        p
          | c. Digital Millennium Copyright Act/Copyright Infringement and Notification Policy:
          | We respect the intellectual property of others. If you believe that your copyrighted
          | Materials have been copied in a way that constitutes copyright infringement, please
          | follow the procedure set forth in our Digital Millennium Copyright Act Notice Policy,
          | which is expressly incorporated herein by reference and made a part of this Agreement.
        p
          | d. Trademarks: PRX, PRX.org, and other PRX trademarks, service marks, graphics and
          | logos used in connection with the PRX Services are trademarks or registered trademarks
          | of the PRX in the U.S. and/or other countries. Other trademarks, servicemarks, graphics
          | and logos used in connection with the PRX Services are the trademarks of their respective
          | owners. You are granted no right or license with respect to any of the aforementioned
          | trademarks and any use of such trademarks, including but not limited to use in connection
          | with any product or service that is not that of the respective trademark owner in any
          | manner that is likely to cause confusion among customers or that disparages or discredits
          | the respective trademark owner, is strictly prohibited.
        h4 1.9 Representations and Warranties
        p
          | You represent and warrant that: (a) except as provided in Sections titled "Uploading
          | Service," we, our customers and licensees shall not be required to make any payments
          | in respect of the authorized use of your submitted Materials, including, without
          | limitation, payments to you, third parties claiming through you or otherwise,
          | music publishers, mechanical rights agents, performance rights societies, persons
          | who contributed to or appear in your Materials, your licensors, unions or guilds;
          | (b) you have the full right and power to enter into and perform this Agreement, and
          | have secured all third-party consents, licenses and permissions necessary to enter
          | into and perform this Agreement; (c) the Materials do not and will not infringe on
          | any third party's copyright, patent, trademark, trade secret or other proprietary
          | rights, rights of privacy, publicity or performance or literary or dramatic right
          | of any party, or moral rights; (d) the Materials comply with all applicable laws
          | and regulations of any Federal, state or local authority; (e) the Materials do
          | not and will not constitute libel, slander or defamation and are not and will not
          | be pornographic or obscene; (f) the Materials do not contain, and you will not
          | introduce through data transmission or any other medium, any virus, worm, trap
          | door, back door, or other contaminant that may have the effect or be used to
          | access, alter, delete, damage, or disable the Materials or any hardware, software,
          | information or other property of PRX or any third parties; (g) all factual assertions
          | that you have made and will make to us are true and complete.
        h4 1.10 Indemnity
        p
          | You agree to indemnify and hold harmless PRX, its affiliates, subsidiaries, officers
          | and directors, agents, employees and partners, and any parties with whom PRX may
          | contract to provide its services, from any third party claim or demand, including
          | reasonable attorneys' fees for damages and/or costs due to or arising out of your
          | breach of your representations, warranties or obligations under this Agreement
          | and/or in connection with your use of the Uploading Service, Peer Review Service,
          | Downloading Service, and/or the Materials.
        h4 1.11 Insurance
        p
          | PRX maintains liability insurance coverage for PRX and the PRX Services. The insurance
          | policy does not cover individuals or entities using the Services.
        h4 1.12 Term and Termination
        p
          | Upon termination of this Agreement, all of our license rights terminate. We shall use
          | reasonable efforts to discontinue public access to your Materials promptly upon termination;
          | however, due to your participation in certain Services or promotions, your Materials may
          | remain accessible following termination. We may terminate this Agreement with respect to
          | any or all Services and promotions, at any time by so notifying you; the Agreement will
          | terminate upon your actual receipt of such notice or three (3) days after we have sent a
          | notice of termination to the email address you supply to us or post such notice in your
          | My PRX Area, whichever is sooner. Our obligation to pay sums due you hereunder via the
          | Uploading Service (Section 3) shall survive termination. Also, Sections titled "Intellectual
          | Property," "Term and Termination," "Representations and Warranties," "Disclaimer," "Waiver of
          | Certain Damages" and "Miscellaneous" shall survive termination.
        p
          | You may cancel your Account(s) and use of Services by contacting us via e-mail at
          | <a href="mailto:prxhelp@prx.org">help</a>.
        h4 1.13 Disclaimer
        p
          | THE PRX SITE, THE MATERIALS, THE UPLOADING SERVICE, THE PEER REVIEW SERVICE AND THE
          | DOWNLOADING SERVICE ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT
          | WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO
          | WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT,
          | OR OTHERWISE. WITHOUT LIMITATION, WE DISCLAIM ANY AND ALL WARRANTIES REGARDING THE
          | SECURITY, RELIABILITY, TIMELINESS AND PERFORMANCE OF THE UPLOADING SERVICE, THE PEER
          | REVIEW SERVICE AND THE DOWNLOADING SERVICE. WE MAKE NO WARRANTY, EXPRESS OR IMPLIED,
          | THAT THE PRX SITE, THE MATERIALS, UPLOADING SERVICE, PEER REVIEW SERVICE AND DOWNLOADING
          | SERVICE WILL BE UNINTERRUPTED, TIMELY OR ERROR-FREE. SOME JURISDICTIONS DO NOT ALLOW THE
          | DISCLAIMER OF CERTAIN WARRANTIES, SO SOME OF THE ABOVE DISCLAIMER MAY NOT APPLY TO YOU.
        h4 1.14 Waiver of Certain Damages
        p
          | TO THE EXTENT NOT PROHIBITED BY APPLICABLE LAW, IN NO EVENT SHALL WE BE LIABLE FOR ANY
          | DIRECT, INDIRECT, SPECIAL, OR CONSEQUENTIAL DAMAGES, INCLUDING BUT NOT LIMITED TO LOSS
          | OF PROFITS, INCOME, OR BUSINESS OPPORTUNITIES, REGARDLESS OF THE NATURE OF THE CLAIM
          | OR THE FORM OF ACTION, ARISING FROM THE MATERIALS, THE SERVICES, OR THE SITE, WHETHER
          | OR NOT WE SHALL HAVE HAD ANY KNOWLEDGE, ACTUAL OR CONSTRUCTIVE, THAT SUCH DAMAGES MIGHT
          | BE INCURRED.
        h4 1.15 Modification or Amendment of Agreement
        p
          | PRX may modify this Agreement from time to time and such modification shall be effective
          | upon posting by PRX on the PRX Website. Your continued use of the PRX Services after
          | PRX posts a revised Agreement signifies your acceptance of the revised Agreement. It
          | is therefore important that you review this Agreement regularly to ensure you are
          | updated as to any changes. In the event that you do not consent to any such amendments
          | and/or modifications, your sole recourse shall be to terminate this Agreement with respect
          | to any or all Programs, as provided above.
        h4 1.16 Severability
        p
          | If any provision of the Terms of the Agreement shall be deemed unlawful, void, or for any
          | reason unenforceable, then that provision shall be deemed severable from these terms and
          | conditions and shall not affect the validity and enforceability of any remaining provisions.
        h4 1.17 Governing Law
        p
          | This Agreement shall be governed by and construed in accordance with the laws of the State of
          | Massachusetts, exclusive of its provisions on conflicts of laws.
        h2 Section 2: Peer Review Service <a name="section2">&nbsp;</a>
        p
          | The Peer Review Service is for users who wish to rate, review and comment on Pieces submitted
          | to the Site by users of the Uploading Service, as well as share and embed certain Pieces for
          | personal or noncommercial use. The Peer Review Service is the basic level available to registered
          | users of the Site, and is also included as part of the Uploading Service and the Downloading Service.
          | To participate in the Peer Review Service you must create an Account and Member Profile. You may
          | then submit Materials such as text reviews and photos for your Member Profile. By submitting Materials
          | you grant us a non-exclusive worldwide license to their use as described in Section 1.8.
        h4 2.1 Peer Review Policy
        p
          | By using the Peer Review Service you agree to abide by the Peer Review Policy, listed in the PRX Policies
          | section of the Site.
        h4 2.2 Listening/Reviewing License
        p
          | When you listen to or otherwise comment on (referred to herein, collectively as "comment") Materials on the
          | Site, we grant you a limited, revocable, non-exclusive, non-transferable license to stream (or download if
          | such privilege is made available to you) such Materials to your computer solely for your personal non-commercial
          | use. You shall not copy, reproduce, distribute or use the Materials in any other manner, unless PRX makes available
          | the means of distribution through functionality offered by the Peer Review Service (such as the Embeddable Player).
          | You shall not sell, transfer, lease, modify, distribute or publicly perform the Materials in any manner and you
          | shall not exploit the Materials commercially. This license to the Materials you Review will continue for as long
          | as your copy of the Materials exists pursuant to and in accordance with the terms and conditions of this Agreement.
        h4 2.3 Sharing and Embedding
        p
          | Where PRX has incorporated a sharing and embedding option in connection with Pieces submitted to the Site by users
          | of the Uploading Service, you may only share or embed the Pieces for personal or educational or non-commercial
          | purposes, except as expressly provided for in this Agreement. You agree not to share or embed Pieces on any page
          | of an ad-enabled blog or website, unless other material not obtained from PRX appears on the same page and is of
          | sufficient value to be the basis for the sale of advertising on the page.
        p
          | You may not embed the Pieces on any website or other location that contains or hosts content that is unlawful,
          | infringing, pornographic, obscene, defamatory, libelous, threatening, harassing, vulgar, indecent, profane,
          | hateful, racially or ethnically offensive, encourages criminal conduct, gives rise to civil liability, violates
          | any law, rule, or regulation, infringes any right of any third party including intellectual property rights, or
          | is otherwise inappropriate or objectionable to PRX (in PRX’s sole discretion). PRX reserves the right to prevent
          | embedding to any website or other location that PRX finds inappropriate or objectionable (as determined by PRX in
          | its sole discretion).
        p
          | If you redistribute Pieces, you must be able to edit or delete such publicly posted Pieces and you must edit or
          | delete it promptly upon our request.
        p
          | If you use the Embeddable Player on your site, you may not modify, build upon, or block any portion or functionality
          | of the Embeddable Player, including but not limited to links back to the PRX website.
        h4 2.4 Submitting Materials
        p
          | In order to submit Materials for use in your Member Profile (such as a photo or graphic), you must use an approved
          | PRX delivery mechanism, and the Materials must conform to PRX standards, as described in the
          | <a href="//www.prx.org/help/posting-audio">instructions on how to upload</a>.
        h4 2.5 Termination of Peer Review Service
        p
          | Subject to the provisions contained in Section 1.12, "Term and Termination," you may terminate your participation
          | in the Peer Review Service. You must still comply with the Terms of Use for any Materials downloaded by you during
          | your use of the Peer Review Service.
        h2 Section 3: Uploading Service <a name="section3">&nbsp;</a>
        p
          | The Uploading Service is for producers (a "Public Broadcasting Entity" as defined under Section 118 of the
          | Copyright Act of 1976, as amended, 17 U.S.C. 118: or other producers, individuals or entities, of noncommercial
          | audio content) who wish to a) receive reviews and ratings of their Materials through the Peer Review Service, b)
          | enable authorized users to share and embed their Materials on Third Party Sites, and c) license and distribute
          | Pieces to authorized users of the Downloading Service, (primarily noncommercial radio stations as defined in the
          | Downloading Policy). In order to use the Uploading Service you must create an Account and a Member Profile and
          | pay any required fees as described in the Membership/Sign Up section of the Site. You may then submit Materials
          | to the Site.
        p
          | Materials may not contain messages that do not comply with the rules set forth in Sections 399a and 399b of the
          | Communications Act, 47 U.S.C. Section 399b, as amended, 47 C.F.R. 73.503(d) and the decisions of the FCC thereunder
          | regarding the carriage of qualified underwriting credits for terrestrial radio broadcasting.
        h4 3.1 Uploading Policy
        p
          | By using the Uploading Service you agree to abide by the Uploading Policy and Submissions Policy, listed in the PRX
          | Policies section of the Site. By using the Uploading Service you are also automatically included in the Peer Review
          | Service and subject to its Terms and Conditions.
        h4 3.2 License for Materials
        p
          | By submitting Materials to us you grant us a non-exclusive worldwide license as described in Section 1.8. You may
          | specify additional terms of use by authorized third parties of your Materials when setting license terms for your
          | Pieces in the MY PRX section of the Site. You may also review and approve/reject terms offered by other authorized
          | third parties for your Pieces.
        h4 3.3 Consent to Sharing and Embedding
        p
          | You will choose for each of your Pieces whether to enable sharing and embedding. By enabling sharing and embedding
          | for a certain Piece (“the embeddable Piece”), you hereby grant each authorized user a non-exclusive license to use,
          | reproduce, redistribute, display and perform the embeddable Piece as permitted through the functionality of the Peer
          | Review Service and under these Terms of Service. PRX cannot control and is not responsible for any user or third party’s
          | use of the embeddable Piece.
        h4 3.4 Producer Payment Pool
        p
          | You will set the price for each of your Pieces according to our pricing guidelines as described in the Uploading
          | Policy. We will credit you for each qualified acquisition of your piece(s) by authorized third parties according
          | to the current PRX point/dollar rate. Any payments due will be issued by check on an accrual basis according to a
          | regular schedule listed in the guidelines. Current pricing and payment guidelines and policies can be found in the
          | Help section of the Site.
        p
          | Any payments due to you for participation in PRX Services will be determined and processed according to the
          | policies and procedures described in the Help section of the Site.
        h4 3.5 Termination of Uploading Service License
        p
          | Subject to the provisions contained in Section 1.12, "Term and Termination," you may terminate your license
          | to us with respect to some or all of your Materials, at any time by utilizing tools provided in the My PRX
          | area of the Site.
        h2 Section 4: Downloading Service <a name="section4">&nbsp;</a>
        p
          | The Downloading Service is available to noncommercial radio stations ("Public Broadcasting Entity" as defined
          | under Section 118 of the Copyright Act of 1976, as amended, 17 U.S.C. 118) that complete a separate authentication
          | and payment process with us (as defined in the accounts section). Other acquirers, such as Internet stations,
          | commercial radio, podcasters, and libraries may be approved for this Service on a case-by-case basis. By participating
          | in the Downloading Service acquirers are also automatically included in the Uploading Service and Peer Review Service
          | and subject to the terms and conditions for both.
        h4 4.1 Materials
        p
          | You may use the Materials only as permitted by this Agreement and the licensors of the Materials (the "Licensors").
          | The Licensors may specify additional terms, conditions, and restrictions on your use of their Materials ("License
          | Terms"). You agree to comply with all of the Licensors' License Terms, as specified on each Piece Profile page.
          | You may not use the Materials in any other manner. All rights not expressly granted to you in this Agreement or
          | by the Licensors are reserved by us and/or the Licensors. The Licensors are solely responsible for the Materials.
          | We do not produce, select, edit, or otherwise control the Materials, and we make no representations as to their
          | accuracy, completeness, timeliness, reliability, or noninfringement. You are solely responsible for examining the
          | Materials for any computer viruses, worms, or other harmful code that might damage or disable any hardware, software,
          | information, or other property.
        h4 4.2 Termination of Downloading Service
        p
          | Subject to the provisions contained in Section 1.12, "Term and Termination" below, you may terminate your participation
          | in the Downloading Service. You must still comply with the Terms of Use for any Materials downloaded by you during your
          | use of the Downloading Service.




