html {
  height: 100%;
  background: midnight;
}

// Body visually contains all standard page components
// (header, content, footer, etc). It fills its
// container horizontally up to a point, and then
// becomes centered on a contrasting background.
// Accessory components could visually fall outside of
// body.
body {
  max-width: max-body-width;
  margin: 0 auto;
  background: offwhite;
}

// The primary ui-view
// Main provides very little visual function directly,
// but is a root element for much of the standard
// page components. The children and grandchildren of
// main generally dictate the structure of pages
main {
  padding-top: action-bar-height;
  @media tall-screen {
    padding-top: tall-action-bar-height;
  }

  // Should include any content-wrapping parent elements
  & > article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    // By default the children of these structural content elements
    // fill as much space as they can
    & > * {
      width: 100%;
    }
  }
}
