// All colors used throughout the site should be included in this file. Any time
// a style colors some element property the color should come from the
// 'Application' section below. Color swatches are defined as private variables,
// and context-specific application variable expose the colors to the rest of
// the stylesheets.
//

// Color Swatches (private)
////////////////////////////////////////////////////////////////////////////////
//// Monochromatics
darkest-grey = midnight                = rgb(37, 37, 37);
dark-grey                              = rgb(52, 52, 52);
grey                                   = rgb(103, 103, 103);
middle-grey                            = rgb(119, 119, 119);
slight-grey                            = rgb(230, 230, 230);
offwhite                               = rgb(240, 240, 240);
white                                  = rgb(255, 255, 255);
//// Blues
light-blue                             = rgb(112, 142, 151);
blue = mid-blue                        = rgb(54, 138, 162);
darker-blue = dark-blue                = rgb(43, 113, 135);
darkest-blue                           = rgb(44, 89, 102);
//// Oranges
orange = mid-orange                    = rgb(245, 159, 81);
light-orange = orange;
dark-orange                            = rgb(226, 139, 66);

// Application Colors
////////////////////////////////////////////////////////////////////////////////
//// Text
body-copy-color                        = grey
caption-color                          = slight-grey
hero-text-color                        = white
link-color                             = blue
active-link-color                      = dark-blue
