$header-spacing {
  padding-top: action-bar-height;

  @media tall-screen {
    padding-top: tall-action-bar-height;
  }
}

header {
  @extends $trim-area;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid lightest-grey;
  width: 100%;
  height: action-bar-height;
  background: white;
  overflow: hidden;
  z-index: zIndex-4--headerBar;

  @media tall-screen {
    position: fixed !important;
    top: 0px !important;
    height: tall-action-bar-height;
  }
}

header h1 {
  background-image: url('/assets/images/ic_header_logo.png');
  background-size: auto 20px;
  padding: 0 horizontal-padding;
  background-position: center center;
  background-repeat: no-repeat;
  font-size: 0px;
  height: action-bar-height;

  a {
    display: inline-block;
    width: 60px;
    relative: top -3px;
  }

  @media high-dpi {
    background-image: url('/assets/images/ic_header_logo@2x.png');
  }

  @media tall-screen {
    background-image: url('/assets/images/ic_header_logo@2x.png');
    background-size: auto 33px;
    background-position: left center;
    margin: 0 auto;
    live-area-sizing();
    height: tall-action-bar-height - 1px;
  }
}
