h1 Public Radio Stations
article
  p Public radio stations can become members of PRX and license stories for
    | broadcast or webcast. You can make additions to the terms of the
    | <a href="#">standard license</a> by making selections below.
  form
    fieldset.pricing
      h3 Pricing
      p Stories can be offered to stations for free or for a fee. Most stories
        | selected for broadcast are free, but free stories will generate no
        | royalties.
      h4 Offer My Story
      label.light
        input(type="radio", checked, name="freeOrFee")
        | For Free
      label.light
        input(type="radio", name="freeOrFee")
        | For a Fee
    fieldset
      h3 Additional Permissions
      label.light
        input(type='checkbox' checked) 
        | Public radio stations may stream my story on the internet.
      label.light
        input(type="checkbox")
        | Public radio stations may edit or excerpt my story.
      label(for="addtlterms") Additional Terms
      textarea(placeholder="E.g. All broadcasts must include introduction mentioning production support...")
    
    
