article.upload(on-page-scroll)
  section
    .header
      h1 Step 1: Create your Story!
      .placeholder(status-bar-placeholder)
      .status(status-bar)
        .container
          h2 This is the title of my story
          h3 Last saved at 12/12/2013, 0:23:45
    form
      .placeholder(inspector-placeholder)
      .inspector(inspector)
        ol.steps
          li STEP 1: Create your story
          li.active STEP 2: Decorate your story
          li STEP 3: Sell your story
      fieldset
        label.required
          h2 Story Title
          p Write a short, Tweetable title like a newspaper headline. Make viewers want to click on your piece from the title alone.
          textarea

          h2 Teaser
          p A first impression; think of this as a the single-item lead of a piece.
          textarea
      fieldset
        label
          h2 Producers
          input
          button Add Producer
      fieldset
        h2 Details
        h4 Full Description
        textarea
        p Adding a written description of your piece full of keywords, names of interviewees, places and topics will help people find your piece and may improve your chances of being heard and licensed.
  section
    .header
      h1 Step 2: Decorate your Story!
    form
      .placeholder(inspector-placeholder)
      .inspector(inspector)
        ol.steps
          li STEP 1: Create your story
          li.active STEP 2: Decorate your story
          li STEP 3: Sell your story
        button Some thing
      fieldset
        label
          h2 Story Title
          p Write a short, Tweetable title like a newspaper headline. Make viewers want to click on your piece from the title alone.
          textarea

        label
          h2.required Teaser
          p A first impression; think of this as a the single-item lead of a piece.
          textarea
      fieldset
        label
          h2 Producers
          input
          button Add Producer
      fieldset
        h2 Details
        h4 Full Description
        textarea
        p Adding a written description of your piece full of keywords, names of interviewees, places and topics will help people find your piece and may improve your chances of being heard and licensed.
  section
    .header
      h1 Step 3: Distribute your Story!
    form
      .placeholder(inspector-placeholder)
      .inspector(inspector)
        ol.steps
          li STEP 1: Create your story
          li.active STEP 2: Decorate your story
          li STEP 3: Sell your story
      fieldset
        label
          h2 Story Title
          p Write a short, Tweetable title like a newspaper headline. Make viewers want to click on your piece from the title alone.
          textarea

          h2.required Teaser
          p A first impression; think of this as a the single-item lead of a piece.
          textarea
      fieldset
        label
          h2 Producers
          input
          button Add Producer
      fieldset
        h2 Details
        h4 Full Description
        textarea
        p Adding a written description of your piece full of keywords, names of interviewees, places and topics will help people find your piece and may improve your chances of being heard and licensed.
