@media $media-width-tablet {
  article.story-time {
    .content {
      padding-top: 30px;
      padding-bottom: @padding-top;
    }

    aside section,
    .main section {
      border: 0;
      padding-top: 0;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
