.account {
  .img {
    border: 2px solid light-grey;
    background-color: lightest-grey;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    float: left;
    margin: 10px;

    &.default {
      image: '/assets/images/anonymous.png' 70px;
    }
  }
}

article.account {
  background: offwhite;

  #hero {
    background-color: white;

    h1 {
      padding-top: 15px;
      padding-bottom: 5px;
      background-color: offwhite;
    }

    &:after {
      content: ' ';
      display: block;
      clear: both;
    }

    .bio {
      clear: both;
      padding: 10px;
      a:last-child {
        font-weight: bold;
      }
    }
  }

  & > section {
    border-top: none;
    & > h2 {
      border-bottom: 1px solid black;
      margin-bottom: 10px;
      line-height: 1.2em;
    }
  }

}

section.account {
  .img {
    margin-right: 15px;
    margin-bottom: 12px;
  }

  h2 {
    line-height: 70px;
  }

  .path, .location {
    font-size: 12px;
    clear: both;
    margin-bottom: 8px;
  }
}
