$button {
  display: inline-block;
  position: relative;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

$button-with-icon {
  @extend $button;
  &:before {
    font-family: FontAwesome;
    position: absolute;
    left: 8px;
  }
}

$background-orange {
  background-color: orange;
  &:hover {
    background-color: dark-orange;
  }
}

$background-blue {
  background-color: blue;
  &:hover {
    background-color: dark-blue;
  }
}

button-blue(with-icon=false) {
  if (with-icon) {
    @extend $button-with-icon;
  } else {
    @extend $button;
  }
  @extend $background-blue;
}

button-orange(with-icon=false) {
  if(with-icon) {
    @extend $button-with-icon;
  } else {
    @extend $button;
  }
  @extend $background-orange;
}
