html {
  background: darkest-grey;
}

body, header {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  padding-top: action-bar-height;
}

aside > section, #main > section {
  clear: both;
  overflow: hidden;
  padding: 13px;

  section {
    padding: 0;
  }

  & > h2, & > h3, & > section {
    margin-top: 10px;
    &:first-child {
      margin-top: 0;
    }
  }
}

#main, #asides {
  & > section + section, & > aside > section + section {
    border-top: 1px solid offwhite;
  }
}

#asides {
  border-top: 1px solid offwhite;
}

// prx-img directive
.img {
  background: url("data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=") center no-repeat;
  transform: translate3d(0,0,0);
  transition: background-image 0.1s 0.2s;
  img {
    display: none;
  }
}

a.full-site {
  absolute: bottom 10px left; right: 0;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-top: 1px solid lightest-grey;
  border-bottom: 1px solid lightest-grey;
  &:hover, &:active {
    text-decoration: none;
    background-color: blue;
    color: white;
    border-color: darker-blue;
  }
}

article {

  #hero {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    .container {
      padding: 0;
      margin: 10px 13px;
      flex: 1;
      h1, h2, h3 {
        margin-top: 0;
      }
    }
  }

  #content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 13px;
    max-width: 1040px;
  }

  #main {
    display: flex;
    flex-flow: row wrap;
    min-width: 300px;
    flex: 0 0 100%;

    section {
      flex: 1 auto;
    }
  }

  #asides {
    min-width: 300px;
    flex: 0 0 100%;
  }
}

@media screen and (min-width: 700px) {
  body {
      background: offwhite;
  }

  section {
    padding: 20px 15px;
  }

  article {

    #hero {
      .container {
        margin: 15px 20px;
        max-width: 1000px;
      }
    }

    #content {
      padding: 0 20px;
      margin: 30px auto;
    }

    #asides {
      border-top: none;
      order: 1;
      flex: 1 1 1px;
      max-width: 335px;
      margin-right: 20px;

      aside {
        background-color: #fff;
      }
    }

    #main {
      order: 2;
      flex: 3 1 1px;
      align-self: stretch;
      align-content: flex-start;
      background-color: #fff;
    }

    #asides {
      aside {
        margin-top: 20px;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
