main {
  padding-top: action-bar-height;
}

section {
  clear: both;
}

article > section, article > aside > section {
  padding: 15px;
}

article > section + section, article > section + aside {
  border-top: 1px solid lightest-grey;
}

// prx-img directive
.img {
  background: url("data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=") center no-repeat;
  transform: translate3d(0,0,0);
  transition: background-image 0.1s 0.2s;
  img {
    display: none;
  }
}

a.full-site {
  absolute: bottom 10px left; right: 0;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-top: 1px solid lightest-grey;
  border-bottom: 1px solid lightest-grey;
  &:hover, &:active {
    text-decoration: none;
    background-color: blue;
    color: white;
    border-color: darker-blue;
  }
}
