footer .beta-notice {
  font-size: 10px;
  margin: 0 auto;
  max-width: 300px;

  p {
    font-size: 1em;
    padding: 0 15px;

    a {
      font-size: inherit;
      display: inline!important;
    }
  }

  > a {
    display: block;
    margin: 10px 0 10px;
    font-size: 1.125em;
  }

  @media multi-column {
    padding-top: 60px;
    font-size: 12px;
  }
}

footer {
  background: white;
  padding: 0 tiny-horizontal-padding;

  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: max-content-width + 2 * horizontal-padding;
    padding: 0 0 30px;

    section {
      // flex-basis: 33%;
      flex-basis: 96px; // Three items in a row at 320 viewport (290px to fill)
      flex-grow: 1;
      flex-shrink: 1;

      @media multi-column {
        // flex-basis: 200px;
        // flex-shrink: 1;
      }

      &.full {
        flex-basis: 100%;
        text-align: center;
      }

      &.floater {
        flex-basis: 100%;
        flex-grow: 6;
        border-bottom: 1px solid lightest-grey;
        padding-bottom: 10px;
        margin-bottom: 10px;
        text-align: center;

        @media multi-column {
          flex-basis: 290px;
          border: none;
        }
      }
      //
      // &.interactive {
      //   min-width: 100%;
      //   border-bottom: 1px solid lightest-grey;
      //   padding-bottom: 10px;
      //   margin-bottom: 10px;
      //   // flex-grow: 2;
      //   max-width: initial;
      //   text-align: center;
      // }
      h2 {
        font-size: 16px;

        @media multi-column {
          font-size: 24px;
          margin-top: 20px;
        }
      }

      h3,
      a {
        font-size: 12px;
        display: block;

        @media multi-column {
          font-size: 14px;
        }
      }

      h3 {
        margin: 0 0 0px 0;
      }

      ul {
        margin-top: 20px;

        li {
          display: inline-block;
          padding: 0 5px;

          a {
            font-family: fontello;
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            border-radius: 21px;
            width: 42px;
            height: 42px;
            // border: 1px solid #EAEBEC;
            line-height: 42px;
            display: inline-block;

            &.fa-envelope {
              color: mid-grey;
            }

            &.fa-twitter {
              color: #55ACEE;
            }

            &.fa-facebook {
              color: #4C66A4;
            }
          }
        }
      }
    }
  }
}
