header {
  fixed: top left; right: 0;
  width: 100%;
  height: action-bar-height;
  overflow: hidden;
  z-index: 200;
  border-bottom: 1px solid lightest-grey;
  background: white;

  a {
    height: action-bar-height - 1px;
    line-height: action-bar-height - 1px;
  }

  &.loading {
    position: fixed!important;
    top: 0!important;
  }

  @media tall-screen {
    position: fixed!important;
    top: 0px!important;
    height: tall-action-bar-height;
    h1, a {
      height: tall-action-bar-height - 1px;
      line-height: tall-action-bar-height - 1px;
    }

    h1 {
      background-position: horizontal-padding center;
      // TODO - create a large version of the image (66px high)
      // and use it where appropriate.
      background-image: url('/assets/images/ic_header_logo@2x.png');
      background-size: auto 33px;
      a {
        float: left;
        width: 90px;
      }
    }
  }

  & > div:not(.loading) {
    max-width: max-content-width + 2 * horizontal-padding;
    margin: 0 auto;
    position: relative;
  }

  h1 {
    background-image: url('/assets/images/ic_header_logo.png');
    background-size: auto 20px;
    padding: 0 horizontal-padding;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 0px;
    height: action-bar-height;
    text-align: center;
    a {
      display: inline-block;
      width: 60px;
      relative: top -3px;
    }

    @media multi-column {
      max-width: max-content-width + 2 * horizontal-padding;
      padding: 0 horizontal-padding;
      margin: 0 auto;
    }

    @media high-dpi {
      background-image: url('/assets/images/ic_header_logo@2x.png');
    }
  }

  nav {
    display: none;
    absolute: top right 30px;
    overflow: hidden;
    a {
      color: light-grey;
      border-left: 1px solid lightest-grey;
      padding: 0 25px;
      &:first-of-type {
        padding-left: 0;
        border-left: none;
      }
      &:last-of-type {
        padding-right: 0;
      }
    }

    @media multi-column {
      display: block;
    }
  }

  a.drawer {
    absolute: top left 14px;
    width: 18px;
    image: '/assets/images/ic_header_menu.png' auto 15px;
    background-position: center;
    background-repeat: no-repeat;
    @media multi-column {
      display: none;
    }
  }

  .loading {
    position: absolute;
    width: 100%;
    overflow hidden;

    .bar {
      height: 1px;
      width: 0%;
      background: orange;
      transition: width 0.3s linear;
    }

    &.hide {
      display: none;
    }

    &.hide-add {
      display: block;
      opacity: 1;
      transition: opacity 0.5s 1s;
    }

    &.hide-add-active {
      opacity: 0;
    }

    &.reset .bar {
      transition: none;
    }
  }
}
