action-bar-height = 50px;

.loaded header {
  transition: height 0.2s;

  fixed: top left; right: 0;
  height: action-bar-height;
  overflow: hidden;
  z-index: 200;
  text-align: center;
  border-bottom: 1px solid lightest-grey;
  background: white;

  a {
    height: action-bar-height - 1px;
    line-height: action-bar-height - 1px;
  }

  h1 {
    image: '/assets/images/ic_header_logo.png' auto 20px;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0px;
    height: action-bar-height;
    a {
      display: inline-block;
      width: 60px;
      relative: top -3px;
    }
  }

  nav {
    absolute: top right 4px;
    overflow: hidden;
    a {
      float: right;
      display: inline-block;
      margin-right: 10px;
    }
  }

  a.drawer {
    absolute: top left 14px;
    width: 18px;
    image: '/assets/images/ic_header_menu.png' auto 15px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .loading .bar {
    fixed: top left;
    height 2px;
  }
}


.loading {
  .bar {
    width: 0%;
    background: orange;
    transition: width 0.3s linear;
  }

  &.hide {
    display: none;
  }

  &.hide-add {
    display: block;
    transition: opacity 0.5s 1s;
  }

  &.hide-add-active {
    opacity: 0;
  }

  &.reset .bar {
    transition: none;
  }
}
