@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700")

blue = rgb(69, 155, 175)

html, body
  margin 0

body 
  background rgb(245, 244, 242)
  font-family 'Open Sans', sans-serif

header
  text-align center
  background #FFF
  h1
    margin 0
    font-weight 400
    color blue