header nav {
  max-width: 50%;
  padding-left: 30px;
}

a.drawer {
  padding-left: 10px;
}

div.drawer {
  fixed: top left;
  bottom: 0;
  z-index: 1;
  background: rgb(243, 243, 243);
  width: 250px;
  border-right: 1px solid rgb(235, 235, 235);
  transform: translateX(-250px);
}