.modalContainer {
  modal-scrollbar();

  z-index: 500;
  fixed: top right;
  left: 0; bottom: 0;
  max-height: 100%;
  background: rgba(0, 0, 0, 0.85);
  overflow-x: hidden;
  padding: 25px;

  .modal {
    absolute: top 25px left 25px;
    bottom: 25px; right 25px;
    display: flex;
    flex-direction: column;
  }

  a.dismiss {
    width: 20px;
    height: 20px;
    image: '/assets/images/cancel_white.png' 20px;
    absolute: top -7px right -7px;
    display: block;
    flex-shrink: 0;
  }

  h1 {
    font-size: 25px;
    margin: 25px 15px 15px 0;
    flex-shrink: 0;
  }

  h1, h2, article {
    color: #FFF;
  }

  article {
    overflow-y: auto;
    flex-shrink: 100;
    padding-right: 4px;
    
    img {
      max-width: 100%;
    }

    -webkit-overflow-scrolling: touch;

    p {
      margin-bottom: 10px;
    }
  }

  ul.actions {
    padding-top: 25px;
    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        &:hover {
          text-decoration: none;
          background: darker-blue;
        }
        color: white;
        height: 40px;
        line-height: 40px;
        display: block;
        background: blue;

        &.listen:after {
          image: '/assets/images/headphones_white.png' auto 14px;
        }

        &.schedule:after {
          image: '/assets/images/calendar_white.png' auto 14px;
        }

        &.view:after {
          image: '/assets/images/eye_white.png' auto 14px;
        }

        &.listen, &.schedule, &.view {
          &:after {
            display: inline-block;
            content: '';
            float: left;
            height: 40px;
            width: 60px;
            background-position: 12px center;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
