.modalContainer {
  z-index: 500;
  fixed: top right;
  left: 0; bottom: 0;
  max-height: 100%;
  background: rgba(0, 0, 0, 0.85);
  overflow-x: hidden;
  padding: 25px;

  .modal {
    absolute: top 25px left 25px;
    bottom: 25px; right 25px;
    display: flex;
    flex-direction: column;

  }

  a.dismiss {
    width: 20px;
    height: 20px;
    image: '/assets/images/cancel_white.png' 20px;
    absolute: top -7px right -7px;
    display: block;
  }

  h1 {
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  h1, h2, article {
    color: #FFF;
  }

  article {
    overflow-y: auto;
    flex-shrink: 100;
  }

  ul.actions {
    padding-top: 25px;
    li a {
      &:hover {
        text-decoration: none;
        background: darker-blue;
      }
      color: white;
      height: 40px;
      line-height: 40px;
      margin-bottom: 10px;
      display: block;
      background: blue;

      &.listen:after {
        image: '/assets/images/headphones_white.png' auto 14px;
      }

      &.schedule:after {
        image: '/assets/images/calendar_white.png' auto 14px;
      }

      &.view:after {
        image: '/assets/images/eye_white.png' auto 14px;
      }

      &.listen, &.schedule, &.view {
        &:after {
          display: inline-block;
          content: '';
          float: left;
          height: 40px;
          width: 60px;
          background-position: 12px center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
