.modal {
  z-index: 500;
  fixed: top right;
  left: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.85);

  padding: 25px;

  a.dismiss {
    width: 20px;
    height: 20px;
    image: '/assets/images/cancel_white.png' 20px;
    absolute: top 13px right 13px;
    display: block;
  }

  h1 {
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  h1, h2, p {
    color: #FFF;
  }

  ul.actions {

  }
}
