section.picks {

  background: offwhite;

  .pick {
    background: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .curation {
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    background: light-blue;
    color: white;
    padding: 10px;
    min-height: 96px;

    .curator {
      float: left;
      width: 70px;
      min-height: 76px;
      margin-left: 0;

      .img {
        border: 3px solid offwhite;
        border-radius: 50%;
        width: 58px;
        height: 58px;
        margin-left: (80px - 58px) * 0.5px - 10px;
      }

      .name {
        line-height: 17px;
        text-align: center;
        margin-left: -2px;
        width: 62px;
      }
    }

    > p {
      font-size: 0.9em;
      line-height: 1.5em;
    }
  }
}
