article.pick-list, section.suggested {
  background: offwhite;
}

section.suggested {
  min-width: 300px;
}

.pick {
  background: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;

  &:first-of-type {
    margin-top: 0;
  }

  .curation {
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    background: light-blue;
    color: white;
    padding: 10px;
    min-height: 96px;

    .curator {
      float: left;
      width: 80px;
      min-height: 76px;
      margin-left: 10px;

      .img {
        border: 3px solid offwhite;
        border-radius: 50%;
        width: 58px;
        height: 58px;
        margin-left: 6px;
      }

      .name {
        line-height: 17px;
      }
    }
  }
}



