@keyframes spinner-outside {
  0% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
  100% {
    transform: rotate(1080deg);
    animation-timing-function: linear;
  }
}

@keyframes spinner-inside {
  0% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
  100% {
    transform: rotate(720deg);
    animation-timing-function: linear;
  }
}

loading-indicator() {
  &:before {
    content: '';
    absolute: top 50% right 50%;
    width: 25px; height: 25px;
    margin: -12.5px -12.5px 0;
    image: '/assets/images/bt_loading_outer.png' auto 25px;
    animation-name: spinner-outside;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }
  &:after {
    content: '';
    absolute: top 50% right 50%;
    width: 17px; height: 17px;
    margin: -8.5px -8.5px 0;
    image: '/assets/images/bt_loading_inner.png' auto 17px;
    animation-name: spinner-inside;
    animation-duration: 3s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }
}

$player-button {
  button-orange();
  width: 70px;
  height: 70px;
  background-position: center center;
  background-repeat: no-repeat;
  image: '/assets/images/bt_pause.png' auto 25px;
  &.play {
    image: '/assets/images/bt_play.png' auto 25px;
  }
  &.loading:not(.play) {
    background-image: none;
    loading-indicator();
  }
}

.player {
  display: flex;

  button {
    @extend $player-button;
    flex: 0 auto;
  }
  .track {
    display: none;
    position: relative;
    @media tall-screen {
      display: flex;
      flex: 1;

      &.active {
        .scrubber {
          border-right: 1px solid lightest-grey;
          span {
            float: right;
            padding: 0 3px 0 5px;
          }
        }
        .inverse {
          border-left: 1px solid lightest-grey;
          span {
            float: left;
            visibility: visible;
            padding: 0 5px 0 3px;
          }
        }
        span {
          background: lightest-grey;
          color: dark-blue;
          font-weight: 500;
          font-size: 13px;
          z-index: 10;
        }

        &.flip {
          .inverse span { visibility: hidden; }
          .scrubber span { visibility: visible; }
        }
      }
      .scrubber {
        flex: 0 auto;
        overflow: hidden;
        -webkit-mask-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC');
        mask: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0xIGhlaWdodD0xPg0KPG1hc2sgbWFza0NvbnRlbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIG1hc2tVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giPg0KICAgIDxyZWN0IGZpbGw9IndoaXRlIiB4PTAgeT0wIHdpZHRoPTEgaGVpZ2h0PTEvPg0KICA8L21hc2s+DQo8L3N2Zz4=');
        background-color: rgba(lightest-grey, 0.6);
        .waveform {
          border-color: lightest-grey;
        }
      }
      .inverse {
        flex: 1;
        position: relative;
        z-index: 10;
        background-color: rgba(darkest-blue, 0.6);
      }
      span {
        visibility: hidden;
        position: relative;
        z-index: 10;
      }

      .waveform {
        absolute: top 9px right -3px; left: 0;
        height: 53px;
        width: 100%;
        pointer-events: none;
        border-color: rgba(darkest-blue, 0.6);
      }

      ul {
        absolute: bottom right; left: 0;
        z-index: 11;
        height: 20px;
        width: 100%;
        li {
          pointer-events: none;
          display: inline-block;
          &:first-child a {
            display: none;
          }
          a {
            line-height: 20px;
            color: #fff;
            margin-left: -2.5px;
            &:before {
              content: '⬩';
            }
          }
        }
      }
    }
  }
}

.persistent-player {
  display: none;
  flex-direction: row;
  height: 67px;
  fixed: bottom left; right: 0px;
  z-index: 1000;
  padding-top: 2px;
  max-width: 450px;
  margin: 0 auto 0 0;

  &:before {
    content: '';
    background-color: orange;
    absolute: bottom left;
    width: 65px; height: 65px;
    background-position: bottom left;
    background-repeat: no-repeat;
    image: '/assets/images/player_bars.png' 65px;
  }

  background: darkest-blue;
  .scrubber-track {
    absolute: top left; right: 0;
    height: 2px;
    background: lightest-grey;
    .scrubber {
      width: 0;
      height: 100%;
      border-right: 1px solid orange;
      background-color: dark-orange;
    }
  }
  button {
    border: none;
    @extend $player-button;
    width: 65px;
    height: 65px;
    line-height: 65px;
    font-size: 22px;
    margin: 0;
    flex: none;
    background-color: transparent;
  }

  .thumb {
    margin: 5px 10px;
    width: 55px;
    height: 55px;
    float: left;
    flex: none;
    background: light-blue;
    background-position: center;
    background-size: cover;
  }

  a {
    flex-shrink: 0;
  }

  .about {
    height: 100%;
    font-size: 11px;
    line-height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .byline {
      font-weight: 300;
    }

    a {
      color: white;
    }
  }

  .timecode {
    absolute: bottom left;
    width: 65px;
    font-size: 11px;
    line-height: 14px;
    font-weight: 300;
    color: darkest-blue;
    text-align: center;
    pointer-events: none;
  }

  .actions {
    flex: none;
    width: 25px;
    li {
      button-blue(true);
      margin: 0 0 5px;
      height: 25px;
      width: 25px;
      &:before {
        font-size: 10px;
        line-height: 25px;
      }

      &.share:before {
        content: '\f064';
      }
      &.love:before {
        content: '\f004';
      }
    }
  }
}

.persistent-player.show-add {
  transform: translateY(65px);
  transition: transform 0.2s;
}

.persistent-player.show-add-active {
  display: block;
  transform: translateY(0px);
}

.persistent-player.show, .persistent-player.show-add {
  display: flex;
}
