section.profile {
  .img.profile {
    border-radius: 50px;
    width: 70px;
    height: 70px;
    border: 2px solid light-grey;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
  h1 {
    background-color: rgba(lightest-grey, 0.6);
    margin: -20px;
    padding-top: 15px;
    padding-bottom: 5px;
  }
}
