article.story {
  #hero {
    color: white;
    font-weight: lighter;
    background-image: url('/assets/images/tl_blue_mics.png');

    &.matt {
      position: relative;
      background-image: url('/assets/images/banner_matt.png');
      background-size: cover;
      background-position: center center;
      &:before {
        absolute: top left;
        bottom: 0; right: 0;
        content: '';
        background: rgba(darkest-grey, 0.7);
      }

      & > * {
        position: relative;
        z-index: 1;
      }
    }

    a {
      color: white;
      font-weight: normal;
    }

    .category {
      color: lightest-grey;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 0.07em;
    }

    .player {
      float: left;
      margin-right: 15px;
      margin-top: 22px;
    }

    h1 {
      font-weight: 300;
      height: 70px;
      overflow: hidden;
      line-height: 23px;
    }

    .media {
      address, span {
        margin-top: 15px;
        white-space: nowrap;
        font-size: 12px;
        display: inline-block;
        margin-right: 10px;
        line-height: 10px;
        padding-right: 10px;
        border-right: 1px solid lightest-grey;
        margin-bottom: 10px;

        &.last {
          border-right: none;
          padding-right: 0;
        }
      }

      a.content_advisory {
        display: inline-block;
        background: black;
        color: white;
        font-size: 12px;
        padding-right: 4px;
        line-height: 20px;
        font-weight: bold;

        &:before {
          content: '!'
          background: blue;
          width: 20px;
          display: inline-block;
          color: white;
          text-align: center;
          margin-right: 4px;
          font-weight: bold;
        }
      }
    }

    @media tall-screen {
      .container {
        display: flex;
        flex-flow: row wrap;
      }

      h1 {
        max-height: 75px;
      }

      .player {
        order: 1;
        flex: 0 100%;
        margin-top: 20px;
        margin-right: 0;
        button {
          width: 80px;
          height: 80px;
        }
      }

      .media {
        flex: 0 100%;

        address, span {
          font-size: 14px;
        }
      }

      .media .img {
        width: 78px;
        height: @width;
        border: 1px solid lightest-grey;
        margin-top: 25px;
        margin-right: 20px;
        background-color: grey;
      }

      .category {
        margin-bottom:3px;
      }

      h1 {
        height: auto;
        color: white;
        line-height: 35px;
      }
    }
  }

  #main section.details {
    flex: 0 100%;
  }
}

section.story {
  position: relative;
  font-size: 10px;
  height: 70px;

  & > a {
    float: left;
    .img {
      width: 70px;
      height: 70px;
      margin-right: 10px;
      background-color: lightest-grey;

      &.default {
        background-image: url('/assets/images/loading.png');
        background-repeat: repeat;
      }
    }
  }

  h3 {
    line-height: 18px;
    font-size: 16px;
    height: 60px;
    overflow: hidden;
    padding-top: 10px;
    margin-bottom: -4px;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 74%,
    rgba(0,0,0,0.6) 74%, rgba(0,0,0,0) 92%);
  }

  .category {
    position: absolute;
    color: light-grey;
    font-size: 8px;
    line-height: 10px;
    font-weight: 600;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    white-space: nowrap;
    top: 0px;
    left: 80px;
  }
}
