body {
  font-family: 'Open Sans', sans-serif;
  color: grey;
}

h1, h2, h3 {
  color: dark-grey;
}

h1 {
  font-size: 32px;
  line-height: 55px;
}

h2 {
  font-size: 25px;
  line-height: 44px;
}

h3 {
  font-size: 18px;
  line-height: 44px;
}

p {
  font-size: 14px;
  line-height: 22px;
}

a {
  color: blue;
  text-decoration: none;
  &:hover, &:active {
    color: dark-blue;
  }
  &:hover {
    text-decoration: underline;
  }
}