// Colors

grey = mid-grey           = rgb(103, 103, 103);
light-grey = lighter-grey = rgb(163, 163, 163);
lightest-grey             = rgb(230, 230, 230);
dark-grey = darker-grey   = rgb(52, 52, 52);
darkest-grey              = rgb(37, 37, 37);

orange = light-orange     = rgb(245, 159, 81);
dark-orange               = rgb(226, 139, 66);

blue = mid-blue           = rgb(54, 138, 162);
light-blue                = rgb(112, 142, 151);
darker-blue = dark-blue   = rgb(43, 113, 135);
darkest-blue              = rgb(44, 89, 102);

red = light-red           = rgb(222, 99, 100);
dark-red                  = rgb(196, 88, 88);

// scrollbars

scrollbar-size            = 9px;
scrollbar-track-color     = rgba(light-grey, 0.5);
scrollbar-thumb-color     = rgba(darkest-grey, 0.8);

// modal scrollbar

m-scrollbar-track-color   = rgba(blue, 0.2);
m-scrollbar-thumb-color   = rgba(blue, 0.8);
