#filepicker-overlay {
  background: rgba(black, .5);
  fixed: top left;
  right: 0; bottom: 0;
  z-index: 1500;
}
#filepicker {
  absolute: top 20px left 20px;
  right: 20px;
  bottom: 20px;

  padding: 20px;
  background: white;
  border-radius: 20px;
}
