#filepicker-overlay(ng-show="overlay.picker.visible", ng-dragover="$event.stopPropagation()")
  #filepicker
    button.dismiss(ng-click="overlay.picker.dismiss()") Cancel
    ul.tabs
      li File Upload
      li PRX Dropbox
      li Dropbox.com
    .tab-content(file-drop-target, on-files-dropped="overlay.selectFiles($files)")
      span Drag Files here
      small or
      button(file-select-button, on-files-selected="overlay.selectFiles($files)") Select Files
