#filepicker-overlay(ng-show="overlay.picker.visible", ng-dragover="$event.stopPropagation()")
  #filepicker
    button.dismiss(ng-click="overlay.picker.dismiss()") Cancel
    xi-tabs
      xi-tab
        xi-tab-name File Upload
        xi-tab-content
          prx-local-file-upload-tab
      xi-tab(disabled)
        xi-tab-name PRX Dropbox
    
