#filepicker-overlay(ng-show="overlay.picker.visible", ng-dragover="$event.stopPropagation()")
  #filepicker
    button.dismiss(ng-click="overlay.picker.dismiss()") Cancel
    ul.tabs
      li File Upload
      li PRX Dropbox
      li Dropbox.com
    prx-local-file-upload-tab
