<!DOCTYPE html>
<html ng-app="prx" ng-class="{'open': drawerOpen}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title ng-bind="page.title">PRX.org</title>
  <base href="/">
  <% styles.forEach(function(file) { %><link rel="stylesheet" href="<%= file %>" /><% }); %>
  <% scripts.forEach(function(file) { %><script src="<%= file %>"></script><% }); %>
  <meta name="fragment" content="!">
</head>
<body ng-controller="appCtrl" ng-class="{'with-player': !!player.nowPlaying}">
  <prx-drawer ng-flag="showMenu"></prx-drawer>
  <header>
    <prx-loading-bar></prx-loading-bar>
    <prx-drawer-button ng-flag="showMenu"></prx-drawer-button>
    <h1><a>PRX</a></h1>
    <prx-action-buttons></prx-action-buttons>
  </header>
  <div ui-view>
    <prx-loading-bar></prx-loading-bar>
  </div>
  <div class="persistent-player" ng-class="{show: !!player.nowPlaying}">
    <div class="toggle-button" ng-class="{play: player.nowPlaying.paused, pause: !player.nowPlaying.paused}" ng-click="player.togglePlayback()">
      <small>{{player.nowPlaying.position | timeCode }}</small>
    </div>
    <div class="thumb"></div>
    <div class="title">{{player.nowPlaying.story.title}}</div>
    <ul class="actions">
      <li class="share"></li>
      <li class="love"></li>
    </ul>
  </div>
<% if (!compile) { %><script src="http://localhost:35729/livereload.js"></script>
<% } %></body>
</html>