<!DOCTYPE html>
<html ng-app="prx" ng-class="{'open': drawerOpen}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title ng-bind="page.title">PRX.org</title>
  <base href="/">
  <% styles.forEach(function(file) { %><link rel="stylesheet" href="<%= file %>" /><% }); %>
  <meta name="fragment" content="!">
</head>
<body ng-controller="appCtrl" ng-class="{'with-player': !!player.nowPlaying}">
  <prx-drawer ng-flag="showMenu"></prx-drawer>
  <header>
    <prx-loading-bar></prx-loading-bar>
    <prx-drawer-button ng-flag="showMenu"></prx-drawer-button>
    <h1><a>PRX</a></h1>
    <prx-action-buttons></prx-action-buttons>
  </header>
  <div ui-view>
    <prx-loading-bar></prx-loading-bar>
  </div>
  <a href="http://www.prx.org/pieces/{{activePiece.id}}">Show Desktop Site</a>
  <div class="persistent-player" ng-class="{show: !!player.nowPlaying}">
    <div class="toggle-button" ng-class="{play: player.nowPlaying.paused, pause: !player.nowPlaying.paused}" ng-click="player.togglePlayback()">
      <small>{{player.nowPlaying.position | timeCode }}</small>
    </div>
    <prx-img src="player.nowPlaying.story.imageUrl" class="thumb"></prx-img>
    <div class="title">{{player.nowPlaying.story.title}}</div>
    <ul class="actions" ng-flag="lovesharebuy">
      <li class="share"></li>
      <li class="love"></li>
    </ul>
  </div>
<% if (!compile) { %><script src="http://localhost:35729/livereload.js"></script>
<% } %><script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-164824-46', 'prx.org');
</script><% scripts.forEach(function(file) { %>
<script src="<%= file %>"></script><% }); %>
</body>
</html>