<!DOCTYPE html>
<html ng-app="prx" ng-class="{'open': drawerOpen}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>prx.org</title>
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" sizes="196x196" href="/assets/images/app_icon@3x.png">
  <base href="/">
  <% styles.forEach(function(file) { %><link rel="stylesheet" href="<%= file %>" /><% }); %>
  <meta name="fragment" content="!">
</head>
<body ng-controller="appCtrl as app" ng-class="{'with-player': !!app.player.nowPlaying}">
  <prx-drawer ng-flag="showMenu"></prx-drawer>
  <header>
    <prx-loading-bar></prx-loading-bar>
    <prx-drawer-button ng-flag="showMenu"></prx-drawer-button>
    <h1><a>PRX</a></h1>
    <prx-action-buttons></prx-action-buttons>
  </header>
  <div ng-show="app.modalVisible" class="modalContainer">
    <div ui-view="modal" class="modal"></div>
  </div>
  <main ui-view autoscroll="true">
    <prx-loading-bar></prx-loading-bar>
  </main>
  <a class="full-site" ng-href="{{app.desktopUrl}}">Show Desktop Site</a>
  <prx-global-player></prx-global-player>
<% if (!compile) { %><script src="http://localhost:35729/livereload.js"></script>
<% } %><script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-164824-46', 'prx.org');
  ga('require', 'displayfeatures');
</script><% scripts.forEach(function(file) { %>
<script <%= compile ? 'async ' : ''%>src="<%= file %>"></script><% }); %>
</body>
</html>
