h1 The best PRX <i>ever</i>...
article
  p ...just not quite yet. We're working on a new PRX made for smaller screens.
  .apps
    a.logo(href="http://prx.mx", ios-only, android-only)
    a.logo(href="https://itunes.apple.com/app/prx-remix/id648386117", ios-only, mobile-only)
    a.logo(href="https://play.google.com/store/apps/details?id=org.prx.remix&referrer=utm_source%3Dm.prx.org%26utm_medium%3Dwebsite%26utm_term%3D404", android-only, mobile-only)
    p In the meantime, download our app for more great stories.
    a.app-store(href="https://itunes.apple.com/app/prx-remix/id648386117", ios-only)
    a.google-play(href="https://play.google.com/store/apps/details?id=org.prx.remix&referrer=utm_source%3Dm.prx.org%26utm_medium%3Dwebsite%26utm_term%3D404", android-only)
    a.website(href="http://prx.mx") on the web @ prx.mx
  p
    | Or, you can always try the #{''}
    a(href="http://prx.org") desktop site
    | .
