article.home
  //- prx-welcome(picks="home.picks", ng-flag="WELCOME_MAT")
  .content
    .main
      section.gallery.picks
        header
          h2 Staff Picks
        div
          prx-pick(ng-repeat="pick in home.picks", pick="pick")
        footer
          button.more(ng-click="home.loadMore()", ng-show="home.hasMore"
            on-scroll-in="home.loadMore()",
            scroll-in-buffer="100",
            scroll-in-limit="1",
            ng-disabled="home.loadingMore")
              span(ng-show="home.loadingMore") Loading...
              span(ng-hide="home.loadingMore") More
